body {
  background-color: #f2f2f2 !important;
  font-family: Roboto !important;
  color: #454545 !important; }
  body #Super-Reset-Password .form-reset .form-body .button-none-form button, body #Super-Reset-Password .form-reset .form-body .form-input .item input, body #Super-Reset-Password .form-reset .form-body .form-input .item .cancelbutton, body #Super-Reset-Password .form-reset .form-body .form-input .item .confirmbutton {
    height: 41px;
    border-radius: 3px;
    transition: 0.3s;
    padding: 0 10px; }
    body #Super-Reset-Password .form-reset .form-body .button-none-form button:hover, body #Super-Reset-Password .form-reset .form-body .form-input .item input:hover, body #Super-Reset-Password .form-reset .form-body .form-input .item .cancelbutton:hover, body #Super-Reset-Password .form-reset .form-body .form-input .item .confirmbutton:hover {
      outline: none;
      transition: 0.3s; }
    body #Super-Reset-Password .form-reset .form-body .button-none-form button:Focus, body #Super-Reset-Password .form-reset .form-body .form-input .item input:Focus, body #Super-Reset-Password .form-reset .form-body .form-input .item .cancelbutton:Focus, body #Super-Reset-Password .form-reset .form-body .form-input .item .confirmbutton:Focus {
      outline: none;
      transition: 0.3s; }
  body #Super-Reset-Password {
    margin-top: 127px;
    text-align: center;
    padding: 0px 5px;
    font-size: 16px; }
    body #Super-Reset-Password .form-reset {
      max-width: 672px;
      width: 100%;
      display: inline-block;
      border-radius: 6px;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
      background-color: #ffffff; }
      body #Super-Reset-Password .form-reset .button-close {
        float: right;
        font-size: 22px;
        margin: 6px 12px 0 0; }
        body #Super-Reset-Password .form-reset .button-close i {
          color: #d1d0d6; }
      body #Super-Reset-Password .form-reset .form-body {
        width: 100%;
        margin-top: 50px; }
        body #Super-Reset-Password .form-reset .form-body .forgot-image {
          width: 134.7px;
          height: 120.4px; }
        body #Super-Reset-Password .form-reset .form-body .title {
          font-size: 24px;
          margin-top: 10px; }
        body #Super-Reset-Password .form-reset .form-body .description {
          width: 80%;
          margin-top: 20px;
          display: inline-block;
          max-width: 454px; }
        body #Super-Reset-Password .form-reset .form-body .button-none-form {
          width: 100%;
          padding: 30px 5px 50px 5px; }
          body #Super-Reset-Password .form-reset .form-body .button-none-form button {
            width: 227px;
            color: #fff;
            border: none;
            background-color: #24becf; }
            body #Super-Reset-Password .form-reset .form-body .button-none-form button:hover {
              box-shadow: 0 0 5px #24becf; }
        body #Super-Reset-Password .form-reset .form-body .form-input {
          margin: 30px 0;
          max-width: 400px;
          width: 100%;
          display: inline-block;
          padding: 0 5px;
          overflow: auto;
          text-align: left; }
          body #Super-Reset-Password .form-reset .form-body .form-input .item {
            width: 50%;
            float: left;
            padding: 10px 5px; }
            body #Super-Reset-Password .form-reset .form-body .form-input .item.item-full {
              width: 100%; }
            body #Super-Reset-Password .form-reset .form-body .form-input .item.item-center {
              width: 100%;
              text-align: center; }
              body #Super-Reset-Password .form-reset .form-body .form-input .item.item-center button {
                width: 50%; }
            body #Super-Reset-Password .form-reset .form-body .form-input .item label {
              margin-bottom: 2px; }
              body #Super-Reset-Password .form-reset .form-body .form-input .item label .super-starr {
                font-size: 13px;
                color: #eb3c3c;
                font-weight: 100; }
            body #Super-Reset-Password .form-reset .form-body .form-input .item .mini-tip {
              font-size: 12px;
              font-style: italic;
              padding-top: 2px; }
            body #Super-Reset-Password .form-reset .form-body .form-input .item input {
              width: 100%;
              border: solid 1px #b5b5b5; }
              body #Super-Reset-Password .form-reset .form-body .form-input .item input:focus {
                box-shadow: 0 0 5px #24becf; }
              body #Super-Reset-Password .form-reset .form-body .form-input .item input::-webkit-input-placeholder {
                font-size: 14px;
                font-style: italic;
                color: #b5b5b5; }
            body #Super-Reset-Password .form-reset .form-body .form-input .item .cancelbutton {
              width: 100%;
              border: solid 1px #b5b5b5;
              color: #b5b5b5; }
              body #Super-Reset-Password .form-reset .form-body .form-input .item .cancelbutton:hover {
                box-shadow: 0 0 5px #24becf; }
            body #Super-Reset-Password .form-reset .form-body .form-input .item .confirmbutton {
              width: 100%;
              color: #fff;
              border: none;
              background-color: #24becf; }
              body #Super-Reset-Password .form-reset .form-body .form-input .item .confirmbutton:hover {
                box-shadow: 0 0 5px #24becf; }

/*# sourceMappingURL=resetpassword.css.map */
