#contact-us-form {
    background-color: #f2f2f2 !important;
    font-family: Roboto !important;
}

#contact-us-form .contactus-body {
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 1920px auto;
}

#contact-us-form .background-blur {
    position: absolute;
    width: 1920px;
    height: 418.3px;
    background-color: rgba(138, 168, 172, 0.46);
}

#contact-us-form img {
    width: 100%;
    height: auto;
}

#contact-us-form .set-box-shadow {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.11);
    border-radius: 4px;
    background-color: white;
}



/* Title */
#contact-us-form .contactus-title {
    position: absolute;
    width: 100%;
    padding-top: 110px;
    padding-bottom: 100px;
}

#contact-us-form .contactus-title .bigtitle {
    text-align: center;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
    font-size: 90px;
    line-height: 100px;
    font-weight: 500;
    color: #ffffff;
}

#contact-us-form .contactus-title .title {
    text-align: center;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
    font-size: 30px;
    font-weight: normal;
    color: #ffffff;
}


/* Contact */
#contact-us-form .contact {
    padding: 35px 40px 50px 40px;
}

#contact-us-form .contact .title {
    font-size: 24px;
    font-weight: 500;
    color: #464545;
}


/* Contact Left */
#contact-us-form .contact-form {
    padding-top: 350px;
    width: 100%;
    z-index: 1;
}

#contact-us-form .contact-left {
    margin-top: 15px;
}

#contact-us-form .contact-left label {
    font-size: 16px;
    margin-bottom: 4px;
    color: #464545;
}

#contact-us-form .contact-left input, .contact-left textarea {
    width: 100%;
    margin-bottom: 15px;
    border-radius: 3px;
    border: solid 1px #b5b5b5;
}

#contact-us-form .contact-left input {
    height: 50px;
    padding: 0 8px;
}

#contact-us-form .contact-left textarea {
    padding: 8px 8px;
}

#contact-us-form .contact-left button {
    margin-top: 8px;
    width: 227px;
    height: 50px;
    border: none;
    border-radius: 3px;
    background-color: #ff915c;
    border: solid 1px #ff915c;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
}

#contact-us-form .contact-left input:focus, .contact-left textarea:focus, .contact-left button:hover {
    border: solid 1px #ff915c;
    box-shadow: 0 0 8px #ff915c;
    transition: 0.2s;
    outline: none;
}




/* Contact Right */
#contact-us-form .contact-right {
    padding-top: 43px;
    padding-left: 30px !important;
}

#contact-us-form .contact-list {
    overflow: auto;
    margin-bottom: 59px;
}

#contact-us-form .contact-icon {
    background-color: #ff915c;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    width: 63px;
    height: 63px;
    float: left;
}

#contact-us-form .contact-right .title {
    font-size: 18px;
    font-weight: 500;
    color: #464545;
    padding-left: 98px
}

#contact-us-form .contact-right .description {
    font-size: 18px;
    margin-top: 10px;
    color: #707070;
    padding-left: 98px;
}



/* Css for mobile */
@media screen and (max-width: 991.98px){
    #contact-us-form .submit-button {
        text-align: center;
    }
}

@media screen and (max-width: 479.98px){

    #contact-us-form .contact {
        padding: 35px 0px 0px 0px;
    }

    #contact-us-form .contactus-title .bigtitle {
        font-size: 75px;
    }

    #contact-us-form .contact-left button {
        width: 100%;
    }

    #contact-us-form .contact-icon {
        float: none;
        margin: 0 auto;
    }

    #contact-us-form .contact-right .title {
        padding-left: 0;
        text-align: center;
    }

    #contact-us-form .contact-right .description {
        padding-left: 0;
        text-align: center;
    }

    #contact-us-form .contact-right {
        padding-left: 15px !important;
    }
}