#ManageJobs {
    padding: 20px 0px;

    #ManageJobs-JobList {
        overflow: auto;

        a {
            color: #2a75f7;

            &:hover {
                text-decoration: none;
            }

        }

        .search-job {
            overflow: auto;
            width: 100%;
            padding-top: 10px;
            height: auto;

            label {
                width: 105px;
                float: left;
                color: #707070;
                line-height: 41px;
                font-weight: 100;
            }

            input {
                @extend %defaut-input-form;
                border: 1px solid #b5b5b5;
                width: 45%;
                padding: 0 10px;

                &:focus {
                    box-shadow: 0 0 5px #f7912a;
                }
            }

            button {
                @extend %defaut-input-form;
                width: 140px;
                background-color: #f7912a;
                color: #fff;
                margin-left: 15px;
                line-height: 40px;

                &:hover {
                    box-shadow: 0 0 5px #f7912a;
                }
            }
        }

        .show-job-for {
            margin-top: 15px;
            overflow: auto;

            div {
                float: left;
                margin-right: 20px;
                color: #707070;
            }

            a {
                float: left;
                margin-right: 20px;
            }
        }

        .no-job {
            text-align: center;
            margin-top: 50px;

            img {
                width: 171px;
                height: auto;
            }

            .description {
                margin-top: 30px;
            }

            button {
                float: none !important;
                margin-bottom: 40px;
            }
        }

        .PJ-ManageJob-PostJob-button {
            @extend %defaut-input-form;

            background-color: #24becf;
            color: #fff;
            width: 165px;
            line-height: 40px;
            margin-top: 23px;

            &:hover {
                box-shadow: 0 0 5px #24becf;
            }
        }

        .listjob-table {
            float: left;
            width: 100%;
            margin-top: 18px;
            overflow: scroll;

            table {
                width: 100%;
                min-width: 650px;

                tr {

                    th,
                    td {
                        text-align: center;
                    }

                    .jobid {
                        width: 7%;
                    }

                    .jobtitle {
                        width: 15%;
                    }

                    .service {
                        width: 15%;
                    }

                    .posteddate {
                        width: 13%;
                    }

                    .expireddate {
                        width: 13%;
                    }

                    .views {
                        width: 7%;
                    }

                    .application {
                        width: 12%;
                    }

                    .status {
                        width: 10%;
                    }

                    .action {
                        width: 8%;
                    }
                }

                thead {
                    tr {
                        background-color: rgba(30, 189, 207, 0.15);
                        height: 44px;
                        border-radius: 2px;
                    }
                }

                tbody {
                    tr {
                        height: 62px;
                        border-bottom: 1px solid #d1d0d6;

                        .jobtitle {
                            text-align: left;
                        }
                    }
                }
            }
        }

        .pagging-right {
            float: right;
            padding: 6px;
            overflow: auto;
            margin-top: 10px;

            .default-pagging-button {
                float: left;
                width: 33px;
                height: 33px;
                color: #707070;
                transition: 0.15s;
                border-radius: 50%;

                &:hover {
                    background-color: #1ebdcf;
                    border-radius: 6px;
                    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
                    color: #fff;
                    transition: 0.15s;
                }
            }

            .previous {
                @extend .default-pagging-button;

                background-color: #e8e8e8;

                img {
                    width: 5.3px;
                    height: 9.6px;
                    margin: 10px 0 0 14px;
                }
            }

            .next {
                @extend .default-pagging-button;

                background-color: #e8e8e8;

                img {
                    width: 5.3px;
                    height: 9.6px;
                    margin: 10px 0 0 14px;
                }
            }

            .pagging-list {
                float: left;
                padding: 0 8px;
                margin: 0 11px;
                overflow: auto;
                border-radius: 16px;
                background-color: #e8e8e8;

                .pagger {
                    @extend .default-pagging-button;

                    text-align: center;
                    line-height: 35px;
                    font-size: 12px;
                }

                .active {
                    background-color: #1ebdcf;
                    border-radius: 6px;
                    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
                    color: #fff;
                    transition: 0.15s;
                }

                .disable {
                    &:hover {
                        box-shadow: none;
                        color: #707070;
                        background-color: #e8e8e8;
                    }
                }

            }
        }

        @media screen and (max-width: 767.98px) {

            .search-job {
                label {
                    width: 14%;

                }

                input {
                    width: 58%;
                    margin: 0 2%;
                }

                button {
                    width: 24%;
                    margin: 0;
                }

            }
        }

        @media screen and (max-width: 575.98px) {

            .search-job {
                label {
                    width: 100%;

                }

                input {
                    width: 70%;
                    margin: 0 2% 0 0;
                }

                button {
                    width: 28%;
                }

            }
        }


    }

    #ManageJobs-PostJob {
        overflow: auto;

        .turnback {
            color: #707070;
            cursor: pointer;
            margin-bottom: 10px;

            &:hover {
                text-decoration: underline;
            }
        }

        .list-form-item {
            overflow: auto;

            .item {
                float: left;
                width: 47.999%;
                overflow: auto;
                padding: 23px 5px 5px 0;

                &:nth-child(even) {
                    margin-left: 4%;
                }

                label {
                    height: 41px;
                    line-height: 20px;
                    float: left;
                    display: flex;
                    align-items: center;
                    width: 35%;
                    margin-bottom: 0;
                }

                input {
                    @extend %defaut-input-form;

                    border: 1px solid #b5b5b5;
                    transition: 0.3s;
                    width: 65%;
                    padding: 0 10px;

                    &:focus {
                        box-shadow: 0 0 5px #f7912a;
                        transition: 0.3s;
                    }
                }

                select {
                    @extend %defaut-input-form;
                    border: 1px solid #b5b5b5;
                    transition: 0.3s;
                    width: 65%;
                    padding: 0 10px;
                    background-color: #fff;

                    &:focus {
                        box-shadow: 0 0 5px #f7912a;
                        transition: 0.3s;
                    }
                }

                .many-input {
                    width: 24%;
                    overflow: auto;
                    margin: 0 1% 0 0;
                }

                .many-input-select {
                    width: 15%;
                    margin: 0;
                }

                .small-tip {
                    float: left;
                    font-size: 14px;
                    line-height: 16px;
                    font-style: italic;
                    text-align: left;
                    color: #464545;
                    width: 100%;
                    padding-left: 35%;
                    margin-top: 4px;
                }

                .item-checkbox {
                    float: left;
                    overflow: auto;
                    width: 100%;
                    padding-left: 35%;
                    margin-top: 7px;
                    font-size: 14px;

                    .super-checkbox-button {
                        margin: 2px 4px 0 0;
                    }
                }
            }

            .item-fill {
                margin-right: 50%;
            }

            .item-100 {
                @extend .item;
                width: 100%;
                margin-top: 10px;

                &:nth-child(even) {
                    margin-left: 0;
                }

                label {
                    width: 16.8%;
                    display: block;
                    align-items: baseline;
                }

                input {
                    width: 83.2%;
                }

                textarea {
                    width: 66.4%;
                }

                .tox-tinymce {
                    border-radius: 5px;
                }
            }
        }

        .advertisingvalueoptions {
            .title {
                margin-top: 50px;
                padding: 18px 30px;
                background-color: rgb(160, 226, 234);
                font-size: 18px;
                font-weight: 900;
                color: #464545;
            }

            .body {
                padding: 25px 100px;

                .option-item {
                    margin-bottom: 10px;

                    .super-checkbox-button {
                        margin: 2px 7px 0 0;
                    }
                }
            }

            .submit {
                text-align: center;

                .submit-form {
                    padding: 10px;
                    overflow: auto;
                    display: inline-block;
                    margin: 10px auto 0 auto;

                    .option-cancel {
                        @extend %defaut-input-form;

                        width: 140px;
                        border: 1px solid #b4b2b9;
                        color: #b4b2b9;
                        line-height: 40px;
                        margin: 0 10px;

                        &:hover {
                            box-shadow: 0 0 5px #b4b2b9;
                        }

                        &:active {
                            box-shadow: inset 1px 1px 2px #b4b2b9;
                        }
                    }

                    .option-savedraft {
                        @extend .option-cancel;

                        border-color: #24becf;
                        color: #24becf;


                        &:hover {
                            box-shadow: 0 0 5px #24becf;
                        }

                        &:active {
                            box-shadow: inset 1px 1px 2px #b4b2b9;
                        }
                    }

                    .option-postjob {
                        @extend .option-savedraft;

                        border: none;
                        background-color: #24becf;
                        color: #fff;
                    }
                }
            }
        }


        @media screen and (max-width: 991.98px) {

            .list-form-item {
                .item {
                    width: 100%;

                    &:nth-child(even) {
                        margin-left: 0;
                    }
                }
            }
        }

        @media screen and (max-width: 767.98px) {

            .list-form-item {
                .item-100 {
                    label {
                        width: 100%;
                    }

                    input {
                        width: 100%;
                    }
                }
            }
        }

        @media screen and (max-width: 575.98px) {

            .list-form-item {
                .item {
                    padding-top: 15px;

                    label {
                        width: 100%;
                        height: 20px;
                    }

                    input {
                        width: 99%;
                        margin-left: 1%;
                    }

                    select {
                        width: 100%;
                    }

                    .many-input {
                        width: 38%;
                        overflow: auto;
                        margin: 0 2% 0 0;
                    }

                    .many-input-select {
                        width: 20%;
                        margin: 0;
                    }

                    .small-tip {
                        padding-left: 0;
                    }

                    .item-checkbox {
                        padding-left: 0;
                    }
                }
            }

            .advertisingvalueoptions {

                .submit {

                    .submit-form {

                        width: 100%;
                        overflow: auto;

                        .option-cancel,
                        .option-savedraft,
                        .option-postjob {
                            float: left;
                            width: 31.33333%;
                            margin: 0 1%;
                        }
                    }

                }

            }
        }

        @media screen and (max-width: 479.98px) {
            .advertisingvalueoptions {

                .submit {

                    .submit-form {

                        .option-cancel {
                            width: 38%;
                        }

                        .option-savedraft {
                            width: 58%;
                        }

                        .option-postjob {
                            width: 98%;
                            margin-top: 7px;
                        }
                    }

                }

            }

        }
    }



}