body {
    background-color: #f2f2f2 !important;
    font-family: 'roboto' !important;
    color: #464545;
}

#Post-Job {
    margin-top: 20px;
    font-size: 16px;
    overflow: auto;

    %default-background-color {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
    }

    .overflow-auto {
        float: left;
        width: 100%;
        overflow: auto;
    }

    .div-scroll {
        width: 100%;
        overflow: scroll;
    }

    .bordertext {
        font-weight: 900;
    }

    .big-title {
        font-size: 22px;
        font-weight: 900;
        color: #464545;
    }

    .padding-width-30 {
        padding-left: 30px;
        padding-right: 30px;
    }

    .padding-width-100 {
        padding-left: 100px;
        padding-right: 100px;
    }

    .set-box-shadow {
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.11);
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        border-top-right-radius: 4px;
        background-color: white;
    }

    .super-starr {
        color: #F22424;
        font-size: 14px;
    }

    %default-pagging {
        float: left;
        padding: 6px;
        overflow: auto;
        margin-top: 10px;

        .default-pagging-button {
            float: left;
            width: 33px;
            height: 33px;
            color: #707070;
            transition: 0.15s;
            border-radius: 50%;

            &:hover {
                background-color: #1ebdcf;
                border-radius: 6px;
                box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
                color: #fff;
                transition: 0.15s;
            }
        }

        .previous {
            @extend .default-pagging-button;

            background-color: #e8e8e8;

            img {
                width: 5.3px;
                height: 9.6px;
                margin: 10px 0 0 14px;
            }
        }

        .next {
            @extend .default-pagging-button;

            background-color: #e8e8e8;

            img {
                width: 5.3px;
                height: 9.6px;
                margin: 10px 0 0 14px;
            }
        }

        .pagging-list {
            float: left;
            padding: 0 8px;
            margin: 0 11px;
            overflow: auto;
            border-radius: 16px;
            background-color: #e8e8e8;

            .pagger {
                @extend .default-pagging-button;

                text-align: center;
                line-height: 35px;
                font-size: 12px;


                @media screen and (max-width: 575.98px) {
                    width: auto;
                    padding: 0 7px;
                }
            }

            .active {
                background-color: #1ebdcf;
                border-radius: 6px;
                box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
                color: #fff;
                transition: 0.15s;
            }

            .disable {
                &:hover {
                    box-shadow: none;
                    color: #707070;
                    background-color: #e8e8e8;
                }
            }

        }
    }

    %defaut-input-form {
        height: 41px;
        border: none;
        float: left;
        border-radius: 5px;
        transition: 0.3s;

        &:focus {
            outline: none;
            transition: 0.3s;
        }

        &:hover {
            outline: none;
            transition: 0.3s;
        }

        &::-webkit-input-placeholder {
            font-size: 14px;
        }

        &[type="date"]::-webkit-calendar-picker-indicator {
            color: rgba(0, 0, 0, 0);
            opacity: 1;
            display: block;
            background: url(../image/calendar-with-a-clock-time-tools@3x.png) no-repeat;
            background-size: 16px auto;
            margin-left: 7px;
            border-width: thin;
        }
    }

    .super-radio-button {
        float: left;
        width: 15px;
        height: 15px;
        border: 2px solid #b5b5b5;
        border-radius: 50%;
        transition: 0.15s;
        cursor: pointer;

        &:hover {
            border: 5px solid #b5b5b5;
            transition: 0.15s;
        }
    }

    .super-checkbox-button {
        @extend .super-radio-button;

        border-radius: 2px;
        border: 1px solid #b5b5b5;
    }

    .super-radio-button-active,
    .super-checkbox-button-active,
    .super-radio-button-active:hover,
    .super-checkbox-button-active:hover {
        border: 5px solid #2ec1d1;
        transition: 0.15s;
    }

    .hri-tab {
        overflow: hidden;
        position: static;

        .hri-tablinks {
            border: none;
            float: left;
            height: 43px;
            width: auto;
            position: static;
            font-size: 18px;
            padding: 0 15px;
            text-align: center;
            line-height: 43px;
            color: #464545;
            cursor: pointer;
            margin: 0 3px 3px 0;
            background-color: #d1d0d6;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;

            &:hover {
                outline: none;
                color: #fff;

                .tablinks-dropdown {
                    color: #464545;
                    display: block;
                }
            }

            &:focus {
                outline: none;
            }

            &.tab-dropdown {
                padding: 0 0;

                .tab-dropdown-name {
                    padding: 0 15px;
                }
            }

            .tablinks-dropdown {
                display: none;
                z-index: 1;
                position: absolute;
                list-style: none;
                padding-left: 0;
                width: 180.64px;
                padding: 0 11px;
                text-align: left;
                background-color: #fff;
                box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);

                &:hover {
                    outline: none;
                    color: #464545;
                }

                &:focus {
                    outline: none;
                }

                li {
                    font-size: 14px;
                    color: #707070;
                    border-bottom: 1px solid rgba(246, 134, 26, 0.11);
                    transition: 0.3s;

                    &:last-child {
                        border-bottom: none;
                    }

                    &:hover {
                        text-shadow: 2px 2px 4px #f7912a;
                        transition: 0.3s;
                    }
                }
            }
        }

        .active {
            color: #ffffff;
            background-color: #f7912a;
            transition: 0.2s;
            outline: none;
        }
    }

    .hri-tabcontent {
        display: none;
        transition: 0.2px;
        margin-top: -3px;
        margin-bottom: 50px;
    }

    @media screen and (max-width: 991.98px) {
        .padding-width-lg-30 {
            padding-left: 30px !important;
            padding-right: 30px !important;
        }
    }

    @media screen and (max-width: 575.98px) {
        .padding-width-xs-10 {
            padding-left: 10px !important;
            padding-right: 10px !important;
        }

        .padding-width-xs-20 {
            padding-left: 20px !important;
            padding-right: 20px !important;
        }
    }

    @import "postjob-managejobs";
    @import "postjob-managecandidate";
    @import "search-candidate";
    @import "candidate-summary";
    @import "postjob-companyprofile";
}

#Free-Job-Notification {
    margin-top: 90px;

    .container {

        .notification {
            margin-top: 16px;
            padding: 14px 0;
            font-size: 18px;
            text-align: center;
            background-color: #ffff99;
            border-radius: 6px;
            color: #707070;

            a {
                color: #2a75f7;
                text-decoration: underline;
            }
        }
    }
}

#background-for-notification {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgba(51, 50, 50, 0.68);


    %default-notification {
        margin: 20% auto;
        overflow: auto;
        padding: 8px 10px 10px 10px;
        border-radius: 6px;
        position: relative;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        border: solid 1px #707070;
        background-color: #ffffff;

        .close-notify {
            float: right;
            font-size: 20px;
            line-height: 20px;
            color: #d1d0d6;
            cursor: pointer;
        }
    }

    .show-notification {
        animation-name: notify-show;
        animation-duration: 0.5s;
    }

    @keyframes notify-show {
        0% {
            opacity: 0;
            top: -200px;
        }

        100% {
            opacity: 1;
            top: 0;
        }
    }

    .hide-notification {
        animation-name: notify-hide;
        animation-duration: 0.5s;
    }

    @keyframes notify-hide {
        from {
            opacity: 1;
            top: 0;
        }

        to {
            opacity: 0;
            top: -200px;
        }
    }

    #Message-Out-Of-Free-Post-Job {
        @extend %default-notification;

        max-width: 390px;
        min-height: 222px;

        .description {
            width: 100%;
            float: left;
            margin-top: 5px;
            text-align: center;
        }

        .ok-button {
            float: left;
            width: 100%;
            margin-top: 15px;
            text-align: center;

            button {
                @extend %defaut-input-form;

                float: none !important;
                width: 152px;
                border-radius: 3px;
                background-color: #f7912a;
                font-size: 18px;
                color: #fff;
                line-height: 18px;

                &:hover {
                    box-shadow: 0 0 5px #f7912a;
                }

            }
        }
    }

    #Message-Change-Status {
        @extend %default-notification;

        max-width: 390px;
        min-height: 210px;

        .title {
            float: left;
            width: 100%;
            text-align: center;
            font-weight: 900;
            font-size: 18px;
            color: #040404;
        }

        form {
            float: left;
            overflow: auto;
            width: 100%;
            margin-top: 15px;

            .form-item {
                padding: 5px 0;
                float: left;
                width: 100%;
                text-align: center;

                select {
                    @extend %defaut-input-form;

                    width: 70%;
                    margin: 0 15%;
                    border: 1px solid #b5b5b5 !important;
                    background-color: #fff;

                    &:focus {
                        box-shadow: 0 0 5px #2ec1d1;
                    }
                }
            }

            .form-item-haft {
                float: left;
                width: 100%;
                padding: 0 15%;
                margin-top: 10px;
                overflow: auto;

                .cancel-button {
                    @extend %defaut-input-form;

                    float: left;
                    width: 49%;
                    margin-right: 2%;
                    border: 1px solid #b5b5b5 !important;
                    color: #b5b5b5;
                    font-size: 18px;
                    text-align: center;
                    line-height: 40px;
                    cursor: pointer;
                }

                .change-button {
                    @extend %defaut-input-form;

                    float: left;
                    width: 49%;
                    background-color: #f7912a;
                    color: #fff;
                    font-size: 18px;
                }
            }
        }
    }

    #Message-Add-Note {
        @extend %default-notification;

        max-width: 390px;
        min-height: 210px;

        .title {
            float: left;
            width: 100%;
            text-align: center;
            font-weight: 900;
            font-size: 18px;
            color: #040404;
        }

        form {
            float: left;
            overflow: auto;
            width: 100%;
            margin: 15px 0 30px 0;

            .form-item {
                padding: 5px 0;
                float: left;
                width: 100%;
                text-align: center;

                textarea {
                    min-width: 70%;
                    max-width: 70%;
                    margin: 0 15%;
                    border-radius: 4px;
                    border: 1px solid #b5b5b5 !important;
                    background-color: #fff;
                    transition: 0.3s;

                    &:focus {
                        box-shadow: 0 0 5px #2ec1d1;
                        outline: none;
                        transition: 0.3s;
                    }
                }
            }

            .form-item-haft {
                float: left;
                width: 100%;
                padding: 0 15%;
                margin-top: 8px;
                overflow: auto;

                .cancel-button {
                    @extend %defaut-input-form;

                    float: left;
                    width: 49%;
                    margin-right: 2%;
                    border: 1px solid #b5b5b5 !important;
                    color: #b5b5b5;
                    font-size: 18px;
                    text-align: center;
                    line-height: 40px;
                    cursor: pointer;
                }

                .change-button {
                    @extend %defaut-input-form;

                    float: left;
                    width: 49%;
                    background-color: #f7912a;
                    color: #fff;
                    font-size: 18px;
                }
            }
        }
    }

    #Message-View-Contact-Infomation {
        @extend %default-notification;

        max-width: 536px;

        .title {
            margin: 10px 0 0 15px;
            font-size: 20px;
            font-weight: 900;
        }

        .contactinfo-table {
            margin: 15px 15px 0 15px;
            border-top: 1px solid #d1d0d6;
            padding: 20px 0;

            table {
                width: 100%;

                tr {
                    height: 42px;
                    background-color: #f2f2f2;

                    th,
                    td {
                        text-align: center;
                    }
                }

                thead {
                    tr {
                        background-color: rgba(30, 189, 207, 0.15);

                    }
                }
            }
        }

        .have-enough {
            text-align: center;
            font-size: 13px;
            margin-bottom: 15px;
            color: #f22424;

            a {
                color: #2a75f7;
            }
        }

        .message-button {
            text-align: center;
            width: 100%;

            .cancel {
                @extend %defaut-input-form;
                float: none !important;
                width: 125px;
                border: 1px solid #b5b5b5 !important;
                font-size: 18px;
                line-height: 35px;
                color: #b5b5b5;
                margin: 5px;

                &:hover {
                    box-shadow: 0 0 5px #b5b5b5;
                }

            }

            .viewcontact {
                @extend .cancel;
                border: none !important;
                background-color: #f7912a;
                color: #fff;

                &:hover {
                    box-shadow: 0 0 5px #f7912a;
                }

                &.disabled {

                    background-color: #b5b5b5;

                    &:hover {
                        box-shadow: none;
                        cursor: not-allowed;
                    }
                }
            }
        }
    }
}