#CV-Template {
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;


    %default-background-image {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
    }

    %padding-like-bt {
        padding-left: 15px;
        padding-right: 15px;
    }

    .bolder-text {
        font-weight: bold;
    }

    .italic-text {
        font-style: italic;
    }

    $bigname: 44px;
    $jobname: 28px;
    $title: 24px;
    $nomal: 18px;
    $supersm: 16px;
    $blue: #24becf;
    $lightblue: rgba(30, 189, 207, 0.15);
    $lightgray: #d1d0d6;


    .col-3 {
        width: 25%;
        float: left;
    }

    .col-85 {
        @extend .col-3;

        width: 70%;
    }

    .col-9 {
        @extend .col-3;

        width: 75%;
    }

    .col-12 {
        @extend .col-3;

        width: 100%;
    }

    .supertable table {
        font-size: 20px;
    }

    .local-avatar {
        .padding-10px {
            padding-right: 8%;
        }

        .avatar {
            width: 100%;
        }
    }

    .name {
        font-size: $bigname;
        font-weight: bold;
        color: $blue;
    }

    .job-name {
        font-size: $jobname;
        font-weight: bold;
    }

    .line-blue {
        border-top: 2px solid $blue;
        margin: 10px 0;

        .circle {
            width: 12px;
            height: 12px;
            border-radius: 50%;
            border: solid 2px $blue;
            background-color: #ffffff;
            margin-top: -7px;
            float: right;
        }
    }

    .item {
        font-size: $nomal;
        padding-bottom: 14px;

        .item-image {

            img {
                margin-bottom: -2px;
            }
        }
    }

    .element {

        .title {
            font-size: $title;
            color: $blue;
            font-weight: bold;
            padding: 30px 0 12px 0;
            border-bottom: 2px solid $lightgray;


            .title-image {
                width: 26px;
                height: 26px;
            }
        }

        .body {
            margin-top: 20px;
            padding-bottom: 10px;
            width: 100%;

        }

        .timeline {
            font-size: $nomal;

            .bolder-text {
                margin-bottom: 12px;
            }

            .description {
                font-size: $supersm;
                margin-bottom: 12px;
            }

        }

        .onlytext-small {
            font-size: $supersm;
        }

        .onlytext {
            font-size: $nomal;
        }

        .supertable {
            width: 100%;



            .table-title {
                font-size: $nomal;
                padding: 20px 0 8px 0;
            }

            table {
                width: 100%;
                font-size: $supersm;
                background-color: $lightblue;
                font-family: Arial, Helvetica, sans-serif;

                &:last-child {
                    margin-bottom: 0;
                }

                tr {

                    th,
                    td {
                        text-align: center;
                        padding-top: 6px;
                        padding-bottom: 6px;
                    }
                }

                thead {
                    background-color: $lightblue;

                    tr {
                        background-color: $lightblue;
                    }
                }

                tbody {
                    tr {
                        border-bottom: 1px solid $lightblue;

                        td {
                            border-bottom: 1px solid $lightblue;
                        }

                        &:last-child {
                            border-bottom: none;

                            td {
                                border-bottom: 1px solid $lightblue;
                            }
                        }
                    }
                }
            }
        }
    }

    .super-logo {
        text-align: center;
        padding-top: 60px;

        img {
            width: 132px;
            height: 52px;
        }
    }
}