#Candidate-Detail .set-box-shadow .infomation .info .content .list-item .item .item-icon, #Candidate-Detail .set-box-shadow .summary-infomation-gray .gray-right button .button-icon, #Candidate-Detail .set-box-shadow .two-table .table-left .item .name .name-icon, #Candidate-Detail .set-box-shadow .two-table .table-right .item .name .name-icon, #Candidate-Detail .attached .attached-title .title-right button .button-icon, #Candidate-Detail .attached #ITNavisOnline-CV .info-element .left-title .left-title-image {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain; }
#Candidate-Detail .set-box-shadow .viewcontact button {
  height: 41px;
  border: none;
  float: left;
  border-radius: 5px;
  transition: 0.3s; }
  #Candidate-Detail .set-box-shadow .viewcontact button:focus {
    outline: none;
    transition: 0.3s; }
  #Candidate-Detail .set-box-shadow .viewcontact button:hover {
    outline: none;
    transition: 0.3s; }
  #Candidate-Detail .set-box-shadow .viewcontact button::-webkit-input-placeholder {
    font-size: 14px; }
  #Candidate-Detail .set-box-shadow .viewcontact button[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url(../image/calendar-with-a-clock-time-tools@3x.png) no-repeat;
    background-size: 16px auto;
    margin-left: 7px;
    border-width: thin; }
#Candidate-Detail .set-box-shadow {
  margin-bottom: 15px;
  overflow: auto; }
  #Candidate-Detail .set-box-shadow .infomation .big-title {
    padding-top: 20px; }
  #Candidate-Detail .set-box-shadow .infomation .info {
    overflow: auto;
    width: 100%;
    margin-top: 20px; }
    #Candidate-Detail .set-box-shadow .infomation .info .avatar {
      width: 17%;
      margin-right: 2%;
      float: left;
      height: auto;
      border: 1px solid #b5b5b5; }
    #Candidate-Detail .set-box-shadow .infomation .info .content {
      width: 81%;
      float: left; }
      #Candidate-Detail .set-box-shadow .infomation .info .content .big-title {
        padding-top: 0; }
      #Candidate-Detail .set-box-shadow .infomation .info .content .life {
        margin-top: 10px;
        line-height: 25px; }
      #Candidate-Detail .set-box-shadow .infomation .info .content .list-item {
        overflow: auto;
        width: 100%;
        margin-top: 12px; }
        #Candidate-Detail .set-box-shadow .infomation .info .content .list-item .item {
          margin-bottom: 12px;
          float: left;
          width: 33.3333%;
          overflow: auto; }
          #Candidate-Detail .set-box-shadow .infomation .info .content .list-item .item.item-null {
            height: 22.22px; }
          #Candidate-Detail .set-box-shadow .infomation .info .content .list-item .item .item-icon {
            width: 18px;
            float: left;
            height: 18px;
            margin: 1px 8px 0 0; }
  @media screen and (max-width: 1199.98px) {
    #Candidate-Detail .set-box-shadow .infomation .info .avatar {
      width: 19%;
      margin-right: 3%; }
    #Candidate-Detail .set-box-shadow .infomation .info .content {
      width: 78%; } }
  @media screen and (max-width: 991.98px) {
    #Candidate-Detail .set-box-shadow .infomation .info .avatar {
      width: 27%; }
    #Candidate-Detail .set-box-shadow .infomation .info .content {
      width: 70%; }
      #Candidate-Detail .set-box-shadow .infomation .info .content .list-item .item {
        width: 49.999%; }
        #Candidate-Detail .set-box-shadow .infomation .info .content .list-item .item.item-null {
          display: none; } }
  @media screen and (max-width: 575.98px) {
    #Candidate-Detail .set-box-shadow .infomation .info .avatar {
      width: 181px;
      margin-left: 10px; }
    #Candidate-Detail .set-box-shadow .infomation .info .content {
      width: 100%;
      margin-top: 10px; }
      #Candidate-Detail .set-box-shadow .infomation .info .content .list-item .item {
        width: 49.999%; } }
  @media screen and (max-width: 399.98px) {
    #Candidate-Detail .set-box-shadow .infomation .info .content .list-item .item {
      width: 100%; } }
  #Candidate-Detail .set-box-shadow .viewcontact {
    float: left;
    overflow: auto;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 25px; }
    #Candidate-Detail .set-box-shadow .viewcontact button {
      width: 17%;
      background-color: #b5b5b5;
      color: #fff;
      font-size: 14px; }
    @media screen and (max-width: 1199.98px) {
      #Candidate-Detail .set-box-shadow .viewcontact button {
        width: 20%; } }
    @media screen and (max-width: 991.98px) {
      #Candidate-Detail .set-box-shadow .viewcontact button {
        width: auto;
        padding: 0 10px; } }
  #Candidate-Detail .set-box-shadow .summary-infomation-gray {
    overflow: auto;
    padding-top: 7px;
    padding-bottom: 7px;
    float: left;
    width: 100%;
    background-color: #f8f8f8; }
    #Candidate-Detail .set-box-shadow .summary-infomation-gray .gray-left {
      float: left;
      font-size: 18px;
      line-height: 47px;
      font-weight: 900; }
    #Candidate-Detail .set-box-shadow .summary-infomation-gray .gray-right {
      float: right;
      overflow: auto; }
      #Candidate-Detail .set-box-shadow .summary-infomation-gray .gray-right button {
        float: left;
        height: 37px;
        padding: 0 17px;
        margin: 5px;
        line-height: 36px;
        transition: 0.3s; }
        #Candidate-Detail .set-box-shadow .summary-infomation-gray .gray-right button:hover {
          transition: 0.3s; }
        #Candidate-Detail .set-box-shadow .summary-infomation-gray .gray-right button:focus {
          outline: none; }
        #Candidate-Detail .set-box-shadow .summary-infomation-gray .gray-right button .button-icon {
          float: left;
          width: 16px;
          height: 16px;
          margin: 9px 8px 0 0; }
        #Candidate-Detail .set-box-shadow .summary-infomation-gray .gray-right button.orange-button {
          color: #f7912a;
          background-color: #fff;
          border-radius: 6px;
          border: 1px solid #f7912a; }
          #Candidate-Detail .set-box-shadow .summary-infomation-gray .gray-right button.orange-button:hover {
            box-shadow: 0 0 5px #f7912a; }
        #Candidate-Detail .set-box-shadow .summary-infomation-gray .gray-right button.orange-full-button {
          color: #fff;
          background-color: #f7912a;
          border-radius: 6px;
          border: none; }
          #Candidate-Detail .set-box-shadow .summary-infomation-gray .gray-right button.orange-full-button:hover {
            box-shadow: 0 0 5px #f7912a; }
        #Candidate-Detail .set-box-shadow .summary-infomation-gray .gray-right button.gray-button {
          background-color: #f8f8f8;
          color: #b5b5b5;
          border-radius: 3px;
          border: 1px solid #b5b5b5; }
          #Candidate-Detail .set-box-shadow .summary-infomation-gray .gray-right button.gray-button:hover {
            box-shadow: 0 0 5px #b5b5b5; }
  #Candidate-Detail .set-box-shadow .two-table {
    float: left;
    display: inline-flex;
    width: 100%; }
    #Candidate-Detail .set-box-shadow .two-table .table-left, #Candidate-Detail .set-box-shadow .two-table .table-right {
      overflow: auto;
      width: 49.9999%;
      padding-top: 40px;
      padding-bottom: 20px;
      border-right: 1px solid #d1d0d6; }
      #Candidate-Detail .set-box-shadow .two-table .table-left .item, #Candidate-Detail .set-box-shadow .two-table .table-right .item {
        margin-bottom: 30px;
        overflow: auto;
        float: left;
        width: 100%; }
        #Candidate-Detail .set-box-shadow .two-table .table-left .item .name, #Candidate-Detail .set-box-shadow .two-table .table-right .item .name {
          font-weight: 900;
          float: left;
          width: 50%; }
          #Candidate-Detail .set-box-shadow .two-table .table-left .item .name .name-icon, #Candidate-Detail .set-box-shadow .two-table .table-right .item .name .name-icon {
            width: 20px;
            height: 20px;
            float: left;
            margin-right: 20px; }
        #Candidate-Detail .set-box-shadow .two-table .table-left .item .value, #Candidate-Detail .set-box-shadow .two-table .table-right .item .value {
          float: left;
          width: 50%; }
    #Candidate-Detail .set-box-shadow .two-table .table-right {
      border-right: none; }
    @media screen and (max-width: 767.98px) {
      #Candidate-Detail .set-box-shadow .two-table {
        display: block;
        overflow: auto; }
        #Candidate-Detail .set-box-shadow .two-table .table-left, #Candidate-Detail .set-box-shadow .two-table .table-right {
          width: 100%;
          float: left;
          border-right: none;
          padding-bottom: 0; }
        #Candidate-Detail .set-box-shadow .two-table .table-right {
          padding-top: 0;
          padding-left: 30px; } }
    @media screen and (max-width: 481.98px) {
      #Candidate-Detail .set-box-shadow .two-table {
        display: block;
        overflow: auto; }
        #Candidate-Detail .set-box-shadow .two-table .table-left .item .name, #Candidate-Detail .set-box-shadow .two-table .table-right .item .name {
          width: 100%; }
        #Candidate-Detail .set-box-shadow .two-table .table-left .item .value, #Candidate-Detail .set-box-shadow .two-table .table-right .item .value {
          width: 85%;
          margin-left: 40px; } }
#Candidate-Detail .attached.fullscreen {
  position: fixed;
  z-index: 5;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 100%;
  overflow-y: scroll; }
  #Candidate-Detail .attached.fullscreen .attached-title {
    margin-bottom: 0 !important; }
  #Candidate-Detail .attached.fullscreen .attached-file {
    padding: 0 !important;
    height: 85% !important; }
    #Candidate-Detail .attached.fullscreen .attached-file embed {
      height: 100% !important; }
#Candidate-Detail .attached .attached-title {
  overflow: auto;
  padding-top: 2px; }
  #Candidate-Detail .attached .attached-title .title-left {
    float: left;
    overflow: auto;
    font-size: 18px; }
    #Candidate-Detail .attached .attached-title .title-left .info-tablinks {
      cursor: pointer;
      float: left;
      font-size: 18px;
      color: #b5b5b5;
      padding: 9px 0 7px 0;
      margin-right: 40px;
      transition: 0.3s; }
      #Candidate-Detail .attached .attached-title .title-left .info-tablinks:hover {
        color: #24becf;
        transition: 0.3s; }
      #Candidate-Detail .attached .attached-title .title-left .info-tablinks.active {
        border-bottom: 5px solid #24becf;
        color: #24becf;
        transition: 0.1s; }
  #Candidate-Detail .attached .attached-title .title-right {
    float: right;
    overflow: auto; }
    #Candidate-Detail .attached .attached-title .title-right button {
      height: 33px;
      line-height: 32px;
      font-size: 14px;
      padding: 0 15px;
      margin: 5px;
      border: none;
      background-color: #f7912a;
      border-radius: 3px;
      color: #fff;
      transition: 0.3s; }
      #Candidate-Detail .attached .attached-title .title-right button:hover {
        transition: 0.3s;
        box-shadow: 0 0 5px #f7912a; }
      #Candidate-Detail .attached .attached-title .title-right button:focus {
        outline: none; }
      #Candidate-Detail .attached .attached-title .title-right button .button-icon {
        width: 14px;
        height: 14px;
        float: left;
        margin: 9px 7px 0 0; }
#Candidate-Detail .attached .info-tabcontent {
  display: none; }
  #Candidate-Detail .attached .info-tabcontent.attached-file {
    padding: 20px 10% 40px 10%;
    width: 100%; }
    @media screen and (max-width: 575.98px) {
      #Candidate-Detail .attached .info-tabcontent.attached-file {
        padding: 20px 10px 40px 10px; } }
    #Candidate-Detail .attached .info-tabcontent.attached-file embed {
      height: 500px;
      width: 100%; }
#Candidate-Detail .attached #ITNavisOnline-CV .info-element {
  padding: 20px 30px; }
  #Candidate-Detail .attached #ITNavisOnline-CV .info-element .left-title {
    font-weight: 900;
    width: 100%;
    border-bottom: 1px solid #d1d0d6;
    padding-bottom: 10px;
    font-size: 20px; }
    #Candidate-Detail .attached #ITNavisOnline-CV .info-element .left-title .left-title-image {
      width: 22px;
      height: 22px;
      float: left;
      margin: 3px 10px 0 0; }
  #Candidate-Detail .attached #ITNavisOnline-CV .info-element .left-body .left-body-list {
    overflow: auto;
    width: 100%;
    padding-top: 35px; }
    #Candidate-Detail .attached #ITNavisOnline-CV .info-element .left-body .left-body-list .list-item {
      width: 49.999%;
      float: left;
      overflow: auto;
      padding-bottom: 30px; }
      #Candidate-Detail .attached #ITNavisOnline-CV .info-element .left-body .left-body-list .list-item .list-item-1 {
        width: 37%;
        margin-right: 3%;
        float: left;
        font-weight: 900; }
      #Candidate-Detail .attached #ITNavisOnline-CV .info-element .left-body .left-body-list .list-item .list-item-2 {
        width: 60%;
        float: left;
        color: #464545; }
    @media screen and (max-width: 767.98px) {
      #Candidate-Detail .attached #ITNavisOnline-CV .info-element .left-body .left-body-list .list-item {
        width: 100%; } }
    @media screen and (max-width: 410.98px) {
      #Candidate-Detail .attached #ITNavisOnline-CV .info-element .left-body .left-body-list .list-item .list-item-1 {
        width: 100%; }
      #Candidate-Detail .attached #ITNavisOnline-CV .info-element .left-body .left-body-list .list-item .list-item-2 {
        width: 100%; } }
  #Candidate-Detail .attached #ITNavisOnline-CV .info-element .left-body .left-body-text {
    padding-top: 20px;
    color: #464545; }
    #Candidate-Detail .attached #ITNavisOnline-CV .info-element .left-body .left-body-text.small-text {
      font-size: 14px; }
  #Candidate-Detail .attached #ITNavisOnline-CV .info-element .left-body .left-body-table {
    width: 100%; }
    #Candidate-Detail .attached #ITNavisOnline-CV .info-element .left-body .left-body-table .table-name {
      font-weight: 900;
      margin-top: 20px; }
    #Candidate-Detail .attached #ITNavisOnline-CV .info-element .left-body .left-body-table .table-here {
      width: 100%;
      margin-top: 10px;
      overflow: scroll; }
      #Candidate-Detail .attached #ITNavisOnline-CV .info-element .left-body .left-body-table .table-here::-webkit-scrollbar {
        display: none; }
      #Candidate-Detail .attached #ITNavisOnline-CV .info-element .left-body .left-body-table .table-here table {
        width: 100%;
        min-width: 600px; }
        #Candidate-Detail .attached #ITNavisOnline-CV .info-element .left-body .left-body-table .table-here table tr {
          background-color: rgba(30, 189, 207, 0.15); }
          #Candidate-Detail .attached #ITNavisOnline-CV .info-element .left-body .left-body-table .table-here table tr th,
          #Candidate-Detail .attached #ITNavisOnline-CV .info-element .left-body .left-body-table .table-here table tr td {
            text-align: center;
            height: 44px;
            padding: 0 2.5%; }
          #Candidate-Detail .attached #ITNavisOnline-CV .info-element .left-body .left-body-table .table-here table tr .skills {
            width: 33.3333%; }
          #Candidate-Detail .attached #ITNavisOnline-CV .info-element .left-body .left-body-table .table-here table tr .proficiency {
            width: 33.3333%; }
          #Candidate-Detail .attached #ITNavisOnline-CV .info-element .left-body .left-body-table .table-here table tr .yeoe {
            width: 33.3333%; }
        #Candidate-Detail .attached #ITNavisOnline-CV .info-element .left-body .left-body-table .table-here table thead {
          background-color: rgba(30, 189, 207, 0.15); }
        #Candidate-Detail .attached #ITNavisOnline-CV .info-element .left-body .left-body-table .table-here table tbody tr {
          border-bottom: 1px solid #cbf0f5; }
          #Candidate-Detail .attached #ITNavisOnline-CV .info-element .left-body .left-body-table .table-here table tbody tr:last-child {
            border-bottom: none; }
      #Candidate-Detail .attached #ITNavisOnline-CV .info-element .left-body .left-body-table .table-here.but-3-element table {
        min-width: 400px;
        width: 66.6666%; }
  #Candidate-Detail .attached #ITNavisOnline-CV .info-element .left-body .left-body-timeline {
    margin-top: 15px;
    overflow: auto; }
    #Candidate-Detail .attached #ITNavisOnline-CV .info-element .left-body .left-body-timeline .timeline-title {
      float: left;
      width: 23%;
      margin-right: 2%;
      font-weight: 900; }
    #Candidate-Detail .attached #ITNavisOnline-CV .info-element .left-body .left-body-timeline .timeline-content {
      width: 74%;
      float: left; }
      #Candidate-Detail .attached #ITNavisOnline-CV .info-element .left-body .left-body-timeline .timeline-content .timeline-content-item {
        margin-bottom: 5px;
        font-size: 14px; }
        #Candidate-Detail .attached #ITNavisOnline-CV .info-element .left-body .left-body-timeline .timeline-content .timeline-content-item.content-name {
          font-size: 16px;
          font-weight: 900; }
        #Candidate-Detail .attached #ITNavisOnline-CV .info-element .left-body .left-body-timeline .timeline-content .timeline-content-item.italictext {
          font-style: italic; }
    @media screen and (max-width: 767.98px) {
      #Candidate-Detail .attached #ITNavisOnline-CV .info-element .left-body .left-body-timeline .timeline-title {
        width: 100%;
        margin-right: 0;
        margin-bottom: 5px; }
      #Candidate-Detail .attached #ITNavisOnline-CV .info-element .left-body .left-body-timeline .timeline-content {
        width: 95%;
        margin-left: 5%; } }

/*# sourceMappingURL=postjob2.css.map */
