#Dashboard {
  padding: 20px 0; }
  #Dashboard .tab-body {
    margin-top: 15px;
    margin-left: -8px;
    margin-right: -8px;
    overflow: auto; }
    #Dashboard .tab-body .table-element {
      padding: 8px;
      width: 33.3333%;
      float: left; }
      #Dashboard .tab-body .table-element table {
        width: 100%;
        border-radius: 5px;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.13);
        background-color: #ffffff;
        overflow: hidden; }
        #Dashboard .tab-body .table-element table thead {
          background-color: #24becf; }
          #Dashboard .tab-body .table-element table thead tr {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px; }
            #Dashboard .tab-body .table-element table thead tr th {
              text-align: center;
              padding: 9px;
              color: #fff; }
        #Dashboard .tab-body .table-element table tbody tr td {
          padding: 9px;
          font-size: 14px; }
        #Dashboard .tab-body .table-element table tbody tr:nth-child(even) {
          background-color: #f2f2f2; }
        #Dashboard .tab-body .table-element table tbody tr .count {
          width: 15%;
          text-align: center;
          color: #f7912a; }
        #Dashboard .tab-body .table-element table tbody tr .nulltd {
          height: 37px;
          background-color: #fff; }

#AccountInformation {
  padding: 20px 0; }
  #AccountInformation .info-body-item {
    margin-top: 15px;
    margin-bottom: 40px;
    border-bottom: 1px dashed #d1d0d6; }
    #AccountInformation .info-body-item:last-child {
      margin-bottom: 0;
      border-bottom: none; }
    #AccountInformation .info-body-item .body-title {
      padding: 13px 18px 12px 10px;
      background-color: rgba(30, 189, 207, 0.15);
      border-left: 4px solid #f7912a;
      overflow: auto; }
      #AccountInformation .info-body-item .body-title .title-left {
        float: left;
        font-weight: 900; }
      #AccountInformation .info-body-item .body-title .title-right {
        float: right; }
    #AccountInformation .info-body-item .body-form {
      padding-bottom: 20px; }
      #AccountInformation .info-body-item .body-form .form-item {
        padding: 15px 0; }
        #AccountInformation .info-body-item .body-form .form-item.form-item-input label {
          width: 315px;
          padding: 0 0 0 70px;
          font-weight: 100; }
        #AccountInformation .info-body-item .body-form .form-item.form-item-input input {
          height: 41px;
          width: 442px;
          border-radius: 3px;
          border: solid 1px #b5b5b5;
          padding: 0 10px;
          outline: none;
          transition: 0.3s; }
          #AccountInformation .info-body-item .body-form .form-item.form-item-input input::-webkit-input-placeholder {
            color: #b5b5b5; }
          #AccountInformation .info-body-item .body-form .form-item.form-item-input input:focus {
            border: solid 1px #24becf;
            box-shadow: 0 0 5px #24becf;
            transition: 0.3s; }
        #AccountInformation .info-body-item .body-form .form-item.form-save {
          padding: 20px 5px 20px 320px; }
          #AccountInformation .info-body-item .body-form .form-item.form-save button {
            width: 227px;
            height: 41px;
            border-radius: 3px;
            background-color: #24becf;
            color: #fff;
            font-weight: 900;
            border: none;
            outline: none;
            transition: 0.3s; }
            #AccountInformation .info-body-item .body-form .form-item.form-save button:hover {
              box-shadow: 0 0 5px #24becf;
              transition: 0.3s; }
    @media screen and (max-width: 991.98px) {
      #AccountInformation .info-body-item .body-form .form-item.form-item-input label {
        width: 100%;
        padding-left: 0; }
      #AccountInformation .info-body-item .body-form .form-item.form-item-input input {
        width: 100%; }
      #AccountInformation .info-body-item .body-form .form-item.form-save {
        padding: 20px 0 20px 0;
        text-align: center; } }

/*# sourceMappingURL=postjob2.css.map */
