body {
  background-color: #f2f2f2 !important;
  font-family: 'roboto' !important;
  color: #464545; }

#Post-Job {
  margin-top: 20px;
  font-size: 16px;
  overflow: auto; }
  #Post-Job #Search-Candidate .form-search .submit-advanced .search-advanced .advanced-icon, #Post-Job #Search-Candidate .form-search .advanced-more .more-blue .row .blue-item .blue-item-image, #Post-Job #Search-Candidate .form-search .advanced-more .more-blue .row .search-advanced .advanced-icon, #Post-Job #Search-Candidate .result-found .title .result-option .item .item-icon, #Post-Job #Search-Candidate .result-found .found-element .element-left .left-title .ghim-icon, #Post-Job #Search-Candidate .result-found .found-element .element-left .left-item .item .item-icon, #Post-Job #Search-Candidate .result-found .found-element .element-right .activity .item .item-icon {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain; }
  #Post-Job .overflow-auto {
    float: left;
    width: 100%;
    overflow: auto; }
  #Post-Job .div-scroll {
    width: 100%;
    overflow: scroll; }
    #Post-Job .div-scroll::-webkit-scrollbar {
      display: none; }
  #Post-Job .bordertext {
    font-weight: 900; }
  #Post-Job .big-title {
    font-size: 22px;
    font-weight: 900;
    color: #464545; }
  #Post-Job .padding-width-30 {
    padding-left: 30px;
    padding-right: 30px; }
  #Post-Job .padding-width-100 {
    padding-left: 100px;
    padding-right: 100px; }
  #Post-Job .set-box-shadow {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.11);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    background-color: white; }
  #Post-Job .super-starr {
    color: #F22424;
    font-size: 14px; }
  #Post-Job #Search-Candidate .result-found .pagging-left {
    float: left;
    padding: 6px;
    overflow: auto;
    margin-top: 10px; }
    #Post-Job #Search-Candidate .result-found .pagging-left .default-pagging-button, #Post-Job #Search-Candidate .result-found .pagging-left .previous, #Post-Job #Search-Candidate .result-found .pagging-left .next, #Post-Job #Search-Candidate .result-found .pagging-left .pagging-list .pagger {
      float: left;
      width: 33px;
      height: 33px;
      color: #707070;
      transition: 0.15s;
      border-radius: 50%; }
      #Post-Job #Search-Candidate .result-found .pagging-left .default-pagging-button:hover, #Post-Job #Search-Candidate .result-found .pagging-left .previous:hover, #Post-Job #Search-Candidate .result-found .pagging-left .next:hover, #Post-Job #Search-Candidate .result-found .pagging-left .pagging-list .pagger:hover {
        background-color: #1ebdcf;
        border-radius: 6px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        color: #fff;
        transition: 0.15s; }
    #Post-Job #Search-Candidate .result-found .pagging-left .previous {
      background-color: #e8e8e8; }
      #Post-Job #Search-Candidate .result-found .pagging-left .previous img {
        width: 5.3px;
        height: 9.6px;
        margin: 10px 0 0 14px; }
    #Post-Job #Search-Candidate .result-found .pagging-left .next {
      background-color: #e8e8e8; }
      #Post-Job #Search-Candidate .result-found .pagging-left .next img {
        width: 5.3px;
        height: 9.6px;
        margin: 10px 0 0 14px; }
    #Post-Job #Search-Candidate .result-found .pagging-left .pagging-list {
      float: left;
      padding: 0 8px;
      margin: 0 11px;
      overflow: auto;
      border-radius: 16px;
      background-color: #e8e8e8; }
      #Post-Job #Search-Candidate .result-found .pagging-left .pagging-list .pagger {
        text-align: center;
        line-height: 35px;
        font-size: 12px; }
        @media screen and (max-width: 575.98px) {
          #Post-Job #Search-Candidate .result-found .pagging-left .pagging-list .pagger {
            width: auto;
            padding: 0 7px; } }
      #Post-Job #Search-Candidate .result-found .pagging-left .pagging-list .active {
        background-color: #1ebdcf;
        border-radius: 6px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        color: #fff;
        transition: 0.15s; }
      #Post-Job #Search-Candidate .result-found .pagging-left .pagging-list .disable:hover {
        box-shadow: none;
        color: #707070;
        background-color: #e8e8e8; }
  #Post-Job #Search-Candidate .form-search .item, #Post-Job #Search-Candidate .form-search .submit-advanced .button-submit, #Post-Job #Search-Candidate .form-search .advanced-more .more-blue .row .blue-item, #Post-Job #Search-Candidate .form-search .advanced-more .more-white .white-orange, #Post-Job .swal2-container #Message-Out-Of-Free-Post-Job .ok-button .okbutton, .swal2-container #Message-Out-Of-Free-Post-Job .ok-button #Post-Job .okbutton, #Post-Job .swal2-container #Message-Change-Status form .form-item select, .swal2-container #Message-Change-Status form .form-item #Post-Job select, #Post-Job .swal2-container #Message-Change-Status form .form-item-haft .cancel-button, .swal2-container #Message-Change-Status form .form-item-haft #Post-Job .cancel-button, #Post-Job .swal2-container #Message-Change-Status form .form-item-haft .change-button, .swal2-container #Message-Change-Status form .form-item-haft #Post-Job .change-button, #Post-Job .swal2-container #Message-Add-Note form .form-item-haft .cancel-button, .swal2-container #Message-Add-Note form .form-item-haft #Post-Job .cancel-button, #Post-Job .swal2-container #Message-Add-Note form .form-item-haft .change-button, .swal2-container #Message-Add-Note form .form-item-haft #Post-Job .change-button, #Post-Job .swal2-container #Message-View-Contact-Infomation .message-button .cancel, .swal2-container #Message-View-Contact-Infomation .message-button #Post-Job .cancel, #Post-Job .swal2-container #Message-View-Contact-Infomation .message-button .viewcontact, .swal2-container #Message-View-Contact-Infomation .message-button #Post-Job .viewcontact {
    height: 41px;
    border: none;
    float: left;
    border-radius: 5px;
    transition: 0.3s; }
    #Post-Job #Search-Candidate .form-search .item:focus, #Post-Job #Search-Candidate .form-search .submit-advanced .button-submit:focus, #Post-Job #Search-Candidate .form-search .advanced-more .more-blue .row .blue-item:focus, #Post-Job #Search-Candidate .form-search .advanced-more .more-white .white-orange:focus, #Post-Job .swal2-container #Message-Out-Of-Free-Post-Job .ok-button .okbutton:focus, .swal2-container #Message-Out-Of-Free-Post-Job .ok-button #Post-Job .okbutton:focus, #Post-Job .swal2-container #Message-Change-Status form .form-item select:focus, .swal2-container #Message-Change-Status form .form-item #Post-Job select:focus, #Post-Job .swal2-container #Message-Change-Status form .form-item-haft .cancel-button:focus, .swal2-container #Message-Change-Status form .form-item-haft #Post-Job .cancel-button:focus, #Post-Job .swal2-container #Message-Change-Status form .form-item-haft .change-button:focus, .swal2-container #Message-Change-Status form .form-item-haft #Post-Job .change-button:focus, #Post-Job .swal2-container #Message-Add-Note form .form-item-haft .cancel-button:focus, .swal2-container #Message-Add-Note form .form-item-haft #Post-Job .cancel-button:focus, #Post-Job .swal2-container #Message-Add-Note form .form-item-haft .change-button:focus, .swal2-container #Message-Add-Note form .form-item-haft #Post-Job .change-button:focus, #Post-Job .swal2-container #Message-View-Contact-Infomation .message-button .cancel:focus, .swal2-container #Message-View-Contact-Infomation .message-button #Post-Job .cancel:focus, #Post-Job .swal2-container #Message-View-Contact-Infomation .message-button .viewcontact:focus, .swal2-container #Message-View-Contact-Infomation .message-button #Post-Job .viewcontact:focus {
      outline: none;
      transition: 0.3s; }
    #Post-Job #Search-Candidate .form-search .item:hover, #Post-Job #Search-Candidate .form-search .submit-advanced .button-submit:hover, #Post-Job #Search-Candidate .form-search .advanced-more .more-blue .row .blue-item:hover, #Post-Job #Search-Candidate .form-search .advanced-more .more-white .white-orange:hover, #Post-Job .swal2-container #Message-Out-Of-Free-Post-Job .ok-button .okbutton:hover, .swal2-container #Message-Out-Of-Free-Post-Job .ok-button #Post-Job .okbutton:hover, #Post-Job .swal2-container #Message-Change-Status form .form-item select:hover, .swal2-container #Message-Change-Status form .form-item #Post-Job select:hover, #Post-Job .swal2-container #Message-Change-Status form .form-item-haft .cancel-button:hover, .swal2-container #Message-Change-Status form .form-item-haft #Post-Job .cancel-button:hover, #Post-Job .swal2-container #Message-Change-Status form .form-item-haft .change-button:hover, .swal2-container #Message-Change-Status form .form-item-haft #Post-Job .change-button:hover, #Post-Job .swal2-container #Message-Add-Note form .form-item-haft .cancel-button:hover, .swal2-container #Message-Add-Note form .form-item-haft #Post-Job .cancel-button:hover, #Post-Job .swal2-container #Message-Add-Note form .form-item-haft .change-button:hover, .swal2-container #Message-Add-Note form .form-item-haft #Post-Job .change-button:hover, #Post-Job .swal2-container #Message-View-Contact-Infomation .message-button .cancel:hover, .swal2-container #Message-View-Contact-Infomation .message-button #Post-Job .cancel:hover, #Post-Job .swal2-container #Message-View-Contact-Infomation .message-button .viewcontact:hover, .swal2-container #Message-View-Contact-Infomation .message-button #Post-Job .viewcontact:hover {
      outline: none;
      transition: 0.3s; }
    #Post-Job #Search-Candidate .form-search .item::-webkit-input-placeholder, #Post-Job #Search-Candidate .form-search .submit-advanced .button-submit::-webkit-input-placeholder, #Post-Job #Search-Candidate .form-search .advanced-more .more-blue .row .blue-item::-webkit-input-placeholder, #Post-Job #Search-Candidate .form-search .advanced-more .more-white .white-orange::-webkit-input-placeholder, #Post-Job .swal2-container #Message-Out-Of-Free-Post-Job .ok-button .okbutton::-webkit-input-placeholder, .swal2-container #Message-Out-Of-Free-Post-Job .ok-button #Post-Job .okbutton::-webkit-input-placeholder, #Post-Job .swal2-container #Message-Change-Status form .form-item select::-webkit-input-placeholder, .swal2-container #Message-Change-Status form .form-item #Post-Job select::-webkit-input-placeholder, #Post-Job .swal2-container #Message-Change-Status form .form-item-haft .cancel-button::-webkit-input-placeholder, .swal2-container #Message-Change-Status form .form-item-haft #Post-Job .cancel-button::-webkit-input-placeholder, #Post-Job .swal2-container #Message-Change-Status form .form-item-haft .change-button::-webkit-input-placeholder, .swal2-container #Message-Change-Status form .form-item-haft #Post-Job .change-button::-webkit-input-placeholder, #Post-Job .swal2-container #Message-Add-Note form .form-item-haft .cancel-button::-webkit-input-placeholder, .swal2-container #Message-Add-Note form .form-item-haft #Post-Job .cancel-button::-webkit-input-placeholder, #Post-Job .swal2-container #Message-Add-Note form .form-item-haft .change-button::-webkit-input-placeholder, .swal2-container #Message-Add-Note form .form-item-haft #Post-Job .change-button::-webkit-input-placeholder, #Post-Job .swal2-container #Message-View-Contact-Infomation .message-button .cancel::-webkit-input-placeholder, .swal2-container #Message-View-Contact-Infomation .message-button #Post-Job .cancel::-webkit-input-placeholder, #Post-Job .swal2-container #Message-View-Contact-Infomation .message-button .viewcontact::-webkit-input-placeholder, .swal2-container #Message-View-Contact-Infomation .message-button #Post-Job .viewcontact::-webkit-input-placeholder {
      font-size: 14px; }
    #Post-Job #Search-Candidate .form-search [type="date"].item::-webkit-calendar-picker-indicator, #Post-Job #Search-Candidate .form-search .submit-advanced [type="date"].button-submit::-webkit-calendar-picker-indicator, #Post-Job #Search-Candidate .form-search .advanced-more .more-blue .row [type="date"].blue-item::-webkit-calendar-picker-indicator, #Post-Job #Search-Candidate .form-search .advanced-more .more-white [type="date"].white-orange::-webkit-calendar-picker-indicator, #Post-Job .swal2-container #Message-Out-Of-Free-Post-Job .ok-button [type="date"].okbutton::-webkit-calendar-picker-indicator, .swal2-container #Message-Out-Of-Free-Post-Job .ok-button #Post-Job [type="date"].okbutton::-webkit-calendar-picker-indicator, #Post-Job .swal2-container #Message-Change-Status form .form-item select[type="date"]::-webkit-calendar-picker-indicator, .swal2-container #Message-Change-Status form .form-item #Post-Job select[type="date"]::-webkit-calendar-picker-indicator, #Post-Job .swal2-container #Message-Change-Status form .form-item-haft [type="date"].cancel-button::-webkit-calendar-picker-indicator, .swal2-container #Message-Change-Status form .form-item-haft #Post-Job [type="date"].cancel-button::-webkit-calendar-picker-indicator, #Post-Job .swal2-container #Message-Change-Status form .form-item-haft [type="date"].change-button::-webkit-calendar-picker-indicator, .swal2-container #Message-Change-Status form .form-item-haft #Post-Job [type="date"].change-button::-webkit-calendar-picker-indicator, #Post-Job .swal2-container #Message-Add-Note form .form-item-haft [type="date"].cancel-button::-webkit-calendar-picker-indicator, .swal2-container #Message-Add-Note form .form-item-haft #Post-Job [type="date"].cancel-button::-webkit-calendar-picker-indicator, #Post-Job .swal2-container #Message-Add-Note form .form-item-haft [type="date"].change-button::-webkit-calendar-picker-indicator, .swal2-container #Message-Add-Note form .form-item-haft #Post-Job [type="date"].change-button::-webkit-calendar-picker-indicator, #Post-Job .swal2-container #Message-View-Contact-Infomation .message-button [type="date"].cancel::-webkit-calendar-picker-indicator, .swal2-container #Message-View-Contact-Infomation .message-button #Post-Job [type="date"].cancel::-webkit-calendar-picker-indicator, #Post-Job .swal2-container #Message-View-Contact-Infomation .message-button [type="date"].viewcontact::-webkit-calendar-picker-indicator, .swal2-container #Message-View-Contact-Infomation .message-button #Post-Job [type="date"].viewcontact::-webkit-calendar-picker-indicator {
      color: rgba(0, 0, 0, 0);
      opacity: 1;
      display: block;
      background: url(../image/calendar-with-a-clock-time-tools@3x.png) no-repeat;
      background-size: 16px auto;
      margin-left: 7px;
      border-width: thin; }
  #Post-Job .super-radio-button, #Post-Job .super-checkbox-button {
    float: left;
    width: 15px;
    height: 15px;
    border: 2px solid #b5b5b5;
    border-radius: 50%;
    transition: 0.15s;
    cursor: pointer; }
    #Post-Job .super-radio-button:hover, #Post-Job .super-checkbox-button:hover {
      border: 5px solid #b5b5b5;
      transition: 0.15s; }
  #Post-Job .super-checkbox-button {
    border-radius: 2px;
    border: 1px solid #b5b5b5; }
  #Post-Job .super-radio-button-active,
  #Post-Job .super-checkbox-button-active,
  #Post-Job .super-radio-button-active:hover,
  #Post-Job .super-checkbox-button-active:hover {
    border: 5px solid #2ec1d1;
    transition: 0.15s; }
  #Post-Job .hri-tab {
    overflow: hidden;
    position: static; }
    #Post-Job .hri-tab .hri-tablinks {
      border: none;
      float: left;
      height: 43px;
      width: auto;
      position: static;
      font-size: 18px;
      padding: 0 15px;
      text-align: center;
      line-height: 43px;
      color: #464545;
      cursor: pointer;
      margin: 0 3px 3px 0;
      background-color: #d1d0d6;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px; }
      #Post-Job .hri-tab .hri-tablinks:hover {
        outline: none;
        color: #fff; }
        #Post-Job .hri-tab .hri-tablinks:hover .tablinks-dropdown {
          color: #464545;
          display: block; }
      #Post-Job .hri-tab .hri-tablinks:focus {
        outline: none; }
      #Post-Job .hri-tab .hri-tablinks.tab-dropdown {
        padding: 0 0; }
        #Post-Job .hri-tab .hri-tablinks.tab-dropdown .tab-dropdown-name {
          padding: 0 15px; }
      #Post-Job .hri-tab .hri-tablinks .tablinks-dropdown {
        display: none;
        z-index: 1;
        position: absolute;
        list-style: none;
        padding-left: 0;
        width: 180.64px;
        padding: 0 11px;
        text-align: left;
        background-color: #fff;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16); }
        #Post-Job .hri-tab .hri-tablinks .tablinks-dropdown:hover {
          outline: none;
          color: #464545; }
        #Post-Job .hri-tab .hri-tablinks .tablinks-dropdown:focus {
          outline: none; }
        #Post-Job .hri-tab .hri-tablinks .tablinks-dropdown li {
          font-size: 14px;
          color: #707070;
          border-bottom: 1px solid rgba(246, 134, 26, 0.11);
          transition: 0.3s; }
          #Post-Job .hri-tab .hri-tablinks .tablinks-dropdown li:last-child {
            border-bottom: none; }
          #Post-Job .hri-tab .hri-tablinks .tablinks-dropdown li:hover {
            text-shadow: 2px 2px 4px #f7912a;
            transition: 0.3s; }
    #Post-Job .hri-tab .active {
      color: #ffffff;
      background-color: #f7912a;
      transition: 0.2s;
      outline: none; }
  #Post-Job .hri-tabcontent {
    display: none;
    transition: 0.2px;
    margin-top: -3px;
    margin-bottom: 50px; }
  @media screen and (max-width: 991.98px) {
    #Post-Job .padding-width-lg-30 {
      padding-left: 30px !important;
      padding-right: 30px !important; } }
  @media screen and (max-width: 575.98px) {
    #Post-Job .padding-width-xs-10 {
      padding-left: 10px !important;
      padding-right: 10px !important; }
    #Post-Job .padding-width-xs-20 {
      padding-left: 20px !important;
      padding-right: 20px !important; } }
  #Post-Job #Search-Candidate {
    color: #464545; }
    #Post-Job #Search-Candidate .form-search {
      overflow: auto; }
      #Post-Job #Search-Candidate .form-search .big-title {
        margin: 21px 0 9px; }
      #Post-Job #Search-Candidate .form-search .item {
        float: left;
        border: 1px solid #b5b5b5;
        padding: 0 10px;
        margin-bottom: 10px; }
        #Post-Job #Search-Candidate .form-search .item:focus {
          box-shadow: 0 0 5px #24becf; }
        #Post-Job #Search-Candidate .form-search .item.item-full {
          width: 100%; }
        #Post-Job #Search-Candidate .form-search .item.item-location {
          width: 48%;
          display: inline-flex;
          margin-right: 4%; }
          #Post-Job #Search-Candidate .form-search .item.item-location img {
            margin: 10px 10px 0 3px;
            width: 13.1px;
            height: 17.8px; }
          #Post-Job #Search-Candidate .form-search .item.item-location .select2-container {
            width: 100% !important;
            margin-top: 2px; }
            #Post-Job #Search-Candidate .form-search .item.item-location .select2-container .select2-selection {
              border: none; }
          #Post-Job #Search-Candidate .form-search .item.item-location:focus-within {
            box-shadow: 0 0 5px #24becf; }
        #Post-Job #Search-Candidate .form-search .item.item-jlevel {
          width: 48%;
          display: inline-flex; }
          #Post-Job #Search-Candidate .form-search .item.item-jlevel img {
            margin: 10px 10px 0 3px;
            width: 19px;
            height: 17.8px; }
          #Post-Job #Search-Candidate .form-search .item.item-jlevel input {
            border: 0;
            width: 100%; }
            #Post-Job #Search-Candidate .form-search .item.item-jlevel input::-webkit-input-placeholder {
              font-size: 14px; }
            #Post-Job #Search-Candidate .form-search .item.item-jlevel input:focus {
              outline: none; }
          #Post-Job #Search-Candidate .form-search .item.item-jlevel:focus-within {
            box-shadow: 0 0 5px #24becf; }
      #Post-Job #Search-Candidate .form-search .show-search {
        width: 100%;
        float: left;
        overflow: auto;
        margin-bottom: 15px; }
        #Post-Job #Search-Candidate .form-search .show-search .item-checkbox {
          float: left; }
          #Post-Job #Search-Candidate .form-search .show-search .item-checkbox .super-checkbox-button {
            margin: 2px 5px 0 0; }
        #Post-Job #Search-Candidate .form-search .show-search .search-tips {
          float: right;
          color: #24becf;
          overflow: auto;
          position: static; }
          #Post-Job #Search-Candidate .form-search .show-search .search-tips #search-tips-button {
            cursor: pointer; }
          #Post-Job #Search-Candidate .form-search .show-search .search-tips img {
            float: left;
            width: 20px;
            height: 20px;
            margin-right: 8px; }
          #Post-Job #Search-Candidate .form-search .show-search .search-tips .search-tip-show {
            right: 20%;
            position: absolute;
            display: block;
            z-index: 1;
            max-width: 880px;
            border-radius: 11px;
            padding-bottom: 20px;
            background-color: #fff;
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16); }
            #Post-Job #Search-Candidate .form-search .show-search .search-tips .search-tip-show .tip-title {
              background-color: #24becf;
              border-top-left-radius: 11px;
              border-top-right-radius: 11px;
              color: #fff;
              padding: 15px;
              font-weight: 900;
              text-align: center; }
            #Post-Job #Search-Candidate .form-search .show-search .search-tips .search-tip-show .tip-list {
              color: #464545;
              width: 100%;
              font-size: 14px; }
              #Post-Job #Search-Candidate .form-search .show-search .search-tips .search-tip-show .tip-list table {
                width: 100%; }
                #Post-Job #Search-Candidate .form-search .show-search .search-tips .search-tip-show .tip-list table tr td,
                #Post-Job #Search-Candidate .form-search .show-search .search-tips .search-tip-show .tip-list table tr th {
                  padding: 0 15px; }
                #Post-Job #Search-Candidate .form-search .show-search .search-tips .search-tip-show .tip-list table tr .operators {
                  width: 15%; }
                #Post-Job #Search-Candidate .form-search .show-search .search-tips .search-tip-show .tip-list table tr .samplekeywords {
                  width: 25%; }
                #Post-Job #Search-Candidate .form-search .show-search .search-tips .search-tip-show .tip-list table tr .searchresults {
                  width: 60%; }
                #Post-Job #Search-Candidate .form-search .show-search .search-tips .search-tip-show .tip-list table thead tr {
                  height: 65px;
                  border-bottom: 1px solid #e2e2e2; }
                #Post-Job #Search-Candidate .form-search .show-search .search-tips .search-tip-show .tip-list table tbody tr {
                  height: 50px; }
                  #Post-Job #Search-Candidate .form-search .show-search .search-tips .search-tip-show .tip-list table tbody tr:nth-child(even) {
                    background-color: #f9f9f9; }
                  #Post-Job #Search-Candidate .form-search .show-search .search-tips .search-tip-show .tip-list table tbody tr .operators {
                    text-align: center; }
                    #Post-Job #Search-Candidate .form-search .show-search .search-tips .search-tip-show .tip-list table tbody tr .operators .example {
                      width: 57px;
                      height: 33px;
                      border-radius: 3px;
                      border: solid 1px #24becf;
                      text-align: center;
                      font-size: 20px;
                      color: #24becf;
                      display: inline-block; }
                  #Post-Job #Search-Candidate .form-search .show-search .search-tips .search-tip-show .tip-list table tbody tr .samplekeywords span {
                    color: #24becf; }
                  #Post-Job #Search-Candidate .form-search .show-search .search-tips .search-tip-show .tip-list table tbody tr .searchresults span {
                    font-size: 13px;
                    color: #24becf;
                    font-weight: 100;
                    font-style: italic; }
            @media screen and (max-width: 991.98px) {
              #Post-Job #Search-Candidate .form-search .show-search .search-tips .search-tip-show {
                right: 10%; } }
            @media screen and (max-width: 676.98px) {
              #Post-Job #Search-Candidate .form-search .show-search .search-tips .search-tip-show {
                right: 0; } }
      #Post-Job #Search-Candidate .form-search .submit-advanced {
        width: 100%;
        float: left;
        overflow: auto;
        padding: 5px;
        margin: 10px 0 15px -5px; }
        #Post-Job #Search-Candidate .form-search .submit-advanced .button-submit {
          float: left;
          color: #fff;
          background-color: #f7912a;
          padding: 0 40px;
          line-height: 40px;
          font-size: 16px; }
          #Post-Job #Search-Candidate .form-search .submit-advanced .button-submit:hover {
            box-shadow: 0 0 5px #f7912a; }
        #Post-Job #Search-Candidate .form-search .submit-advanced .search-advanced {
          float: left;
          overflow: auto;
          color: #24becf;
          margin: 10px 0 0 45px;
          cursor: pointer; }
          #Post-Job #Search-Candidate .form-search .submit-advanced .search-advanced .advanced-icon {
            font-size: 10px;
            padding: 0 0 0 4.5px;
            color: #24becf;
            width: 19px;
            height: 19px;
            float: left;
            margin-right: 10px;
            background-image: url(../image/searching-magnifying-glass@3x.png); }
      #Post-Job #Search-Candidate .form-search .advanced-more {
        padding-bottom: 10px; }
        #Post-Job #Search-Candidate .form-search .advanced-more .more-blue {
          background-color: #24becf;
          padding-top: 20px;
          padding-bottom: 5px;
          overflow: hidden; }
          #Post-Job #Search-Candidate .form-search .advanced-more .more-blue .row .col-fix-left {
            padding-left: 5px; }
          #Post-Job #Search-Candidate .form-search .advanced-more .more-blue .row .col-fix-right {
            padding-right: 5px; }
          #Post-Job #Search-Candidate .form-search .advanced-more .more-blue .row .blue-item {
            background-color: #fff;
            width: 100%;
            display: inline-flex;
            margin-bottom: 15px; }
            #Post-Job #Search-Candidate .form-search .advanced-more .more-blue .row .blue-item:focus-within {
              box-shadow: 0 0 5px #fff; }
            #Post-Job #Search-Candidate .form-search .advanced-more .more-blue .row .blue-item .blue-item-image {
              width: 20px;
              margin: 11px 5px 11px 10px;
              max-height: 20px; }
            #Post-Job #Search-Candidate .form-search .advanced-more .more-blue .row .blue-item select {
              border: none;
              width: 100%;
              background-color: #fff;
              cursor: pointer;
              outline: none; }
            #Post-Job #Search-Candidate .form-search .advanced-more .more-blue .row .blue-item input {
              border: none;
              width: 100%;
              background-color: #fff;
              cursor: text;
              margin-right: 10px;
              margin-left: 6px;
              outline: none; }
          #Post-Job #Search-Candidate .form-search .advanced-more .more-blue .row .search-advanced {
            overflow: auto;
            color: #fff;
            display: inline-block;
            cursor: pointer;
            text-align: left; }
            #Post-Job #Search-Candidate .form-search .advanced-more .more-blue .row .search-advanced .advanced-icon {
              font-size: 10px;
              padding: 0 0 0 4px;
              color: #fff;
              float: left;
              width: 19px;
              height: 19px;
              margin-right: 10px;
              background-image: url(../image/searching-magnifying-glass-white@3x.png); }
        #Post-Job #Search-Candidate .form-search .advanced-more .more-white {
          padding-top: 15px;
          padding-bottom: 5px; }
          #Post-Job #Search-Candidate .form-search .advanced-more .more-white .white-orange {
            float: none;
            background-color: #f7912a;
            width: 139.9px;
            color: #fff; }
            #Post-Job #Search-Candidate .form-search .advanced-more .more-white .white-orange:hover {
              box-shadow: 0 0 5px #f7912a; }
    #Post-Job #Search-Candidate .result-found {
      overflow: auto;
      margin-top: 10px; }
      #Post-Job #Search-Candidate .result-found .title {
        padding-bottom: 17px;
        background-color: rgba(30, 189, 207, 0.15);
        overflow: auto; }
        #Post-Job #Search-Candidate .result-found .title .result-count {
          float: left;
          padding-top: 17px;
          font-size: 18px;
          color: #464545; }
          #Post-Job #Search-Candidate .result-found .title .result-count span {
            font-weight: 900;
            color: #f7912a; }
        #Post-Job #Search-Candidate .result-found .title .result-option {
          padding-top: 21px;
          float: right;
          overflow: auto; }
          #Post-Job #Search-Candidate .result-found .title .result-option .item {
            float: left;
            overflow: auto;
            margin-right: 90px;
            color: #b5b5b5; }
            #Post-Job #Search-Candidate .result-found .title .result-option .item:last-child {
              margin-right: 0; }
            #Post-Job #Search-Candidate .result-found .title .result-option .item .item-icon {
              margin: 1px 10px 0 0;
              width: 18px;
              height: 18px;
              float: left; }
            #Post-Job #Search-Candidate .result-found .title .result-option .item span {
              color: #464545;
              font-weight: 900; }
      #Post-Job #Search-Candidate .result-found .found-element {
        border-bottom: 1px solid #b5b5b5;
        display: inline-flex;
        width: 100%;
        min-width: 720px; }
        #Post-Job #Search-Candidate .result-found .found-element .element-left {
          width: 75%;
          border-right: 3px solid rgba(20, 183, 201, 0.48); }
          #Post-Job #Search-Candidate .result-found .found-element .element-left .left-title {
            margin-top: 25px;
            font-weight: 900; }
            #Post-Job #Search-Candidate .result-found .found-element .element-left .left-title .ghim-icon {
              float: left;
              margin-right: 10px;
              background-image: url(../image/paperclip@3x.png);
              width: 15.3px;
              height: 17px; }
            #Post-Job #Search-Candidate .result-found .found-element .element-left .left-title span {
              color: #f7912a; }
          #Post-Job #Search-Candidate .result-found .found-element .element-left .left-item {
            margin: 15px 0 5px 0;
            overflow: auto; }
            #Post-Job #Search-Candidate .result-found .found-element .element-left .left-item .item {
              float: left;
              overflow: auto;
              width: 33.3333%;
              margin-bottom: 12px; }
              #Post-Job #Search-Candidate .result-found .found-element .element-left .left-item .item .item-icon {
                float: left;
                width: 16px;
                height: 16px;
                margin: 2px 10px 0 0; }
        #Post-Job #Search-Candidate .result-found .found-element .element-right {
          width: 25%;
          background-color: rgba(192, 192, 192, 0.13);
          overflow: auto; }
          #Post-Job #Search-Candidate .result-found .found-element .element-right .status {
            width: 92px;
            height: 36px;
            float: right;
            font-size: 14px;
            text-align: center;
            line-height: 35px;
            color: #fff; }
            #Post-Job #Search-Candidate .result-found .found-element .element-right .status.viewed {
              background-color: #f7912a; }
            #Post-Job #Search-Candidate .result-found .found-element .element-right .status.bookmarked {
              background-color: #24becf; }
            #Post-Job #Search-Candidate .result-found .found-element .element-right .status.creditused {
              background-color: #be351f; }
          #Post-Job #Search-Candidate .result-found .found-element .element-right .activity {
            float: left;
            padding: 15px 0 0 15px;
            overflow: auto; }
            #Post-Job #Search-Candidate .result-found .found-element .element-right .activity .item {
              float: left;
              margin-right: 20px;
              color: #b5b5b5; }
              #Post-Job #Search-Candidate .result-found .found-element .element-right .activity .item .item-icon {
                float: left;
                width: 16px;
                height: 16px;
                margin: 2px 3px 0 0; }
          #Post-Job #Search-Candidate .result-found .found-element .element-right .last-modified {
            float: left;
            overflow: auto;
            padding: 17px 0 0 15px;
            width: 100%; }
            #Post-Job #Search-Candidate .result-found .found-element .element-right .last-modified img {
              width: 21px;
              height: 21px;
              margin-right: 10px; }
          #Post-Job #Search-Candidate .result-found .found-element .element-right .profile-completed {
            float: left;
            overflow: auto;
            padding: 17px 0 0 15px;
            width: 100%; }
            #Post-Job #Search-Candidate .result-found .found-element .element-right .profile-completed img {
              width: 21px;
              height: 11px;
              margin: -3px 10px 0 0; }
      #Post-Job #Search-Candidate .result-found .pagging-left {
        margin: 20px 10px; }
    @media screen and (max-width: 1199.98px) {
      #Post-Job #Search-Candidate .result-found .found-element .element-left {
        width: 70%; }
        #Post-Job #Search-Candidate .result-found .found-element .element-left .left-item .item {
          width: 50%; }
      #Post-Job #Search-Candidate .result-found .found-element .element-right {
        width: 30%; } }
    @media screen and (max-width: 991.98px) {
      #Post-Job #Search-Candidate .result-found .found-element .element-left {
        width: 60%; }
        #Post-Job #Search-Candidate .result-found .found-element .element-left .left-item .item {
          width: 100%; }
      #Post-Job #Search-Candidate .result-found .found-element .element-right {
        width: 40%; } }

#Free-Job-Notification {
  margin-top: 90px; }
  #Free-Job-Notification .container .notification {
    margin-top: 16px;
    padding: 14px 0;
    font-size: 18px;
    text-align: center;
    background-color: #ffff99;
    border-radius: 6px;
    color: #707070; }
    #Free-Job-Notification .container .notification a {
      color: #2a75f7;
      text-decoration: underline; }

.swal2-container #Post-Job #Search-Candidate .form-search .item, #Post-Job #Search-Candidate .form-search .swal2-container .item, .swal2-container #Post-Job #Search-Candidate .form-search .submit-advanced .button-submit, #Post-Job #Search-Candidate .form-search .submit-advanced .swal2-container .button-submit, .swal2-container #Post-Job #Search-Candidate .form-search .advanced-more .more-blue .row .blue-item, #Post-Job #Search-Candidate .form-search .advanced-more .more-blue .row .swal2-container .blue-item, .swal2-container #Post-Job #Search-Candidate .form-search .advanced-more .more-white .white-orange, #Post-Job #Search-Candidate .form-search .advanced-more .more-white .swal2-container .white-orange, .swal2-container #Message-Out-Of-Free-Post-Job .ok-button .okbutton, .swal2-container #Message-Change-Status form .form-item select, .swal2-container #Message-Change-Status form .form-item-haft .cancel-button, .swal2-container #Message-Change-Status form .form-item-haft .change-button, .swal2-container #Message-Add-Note form .form-item-haft .cancel-button, .swal2-container #Message-Add-Note form .form-item-haft .change-button, .swal2-container #Message-View-Contact-Infomation .message-button .cancel, .swal2-container #Message-View-Contact-Infomation .message-button .viewcontact {
  height: 41px;
  border: none;
  float: left;
  border-radius: 5px;
  transition: 0.3s; }
  .swal2-container #Post-Job #Search-Candidate .form-search .item:focus, #Post-Job #Search-Candidate .form-search .swal2-container .item:focus, .swal2-container #Post-Job #Search-Candidate .form-search .submit-advanced .button-submit:focus, #Post-Job #Search-Candidate .form-search .submit-advanced .swal2-container .button-submit:focus, .swal2-container #Post-Job #Search-Candidate .form-search .advanced-more .more-blue .row .blue-item:focus, #Post-Job #Search-Candidate .form-search .advanced-more .more-blue .row .swal2-container .blue-item:focus, .swal2-container #Post-Job #Search-Candidate .form-search .advanced-more .more-white .white-orange:focus, #Post-Job #Search-Candidate .form-search .advanced-more .more-white .swal2-container .white-orange:focus, .swal2-container #Message-Out-Of-Free-Post-Job .ok-button .okbutton:focus, .swal2-container #Message-Change-Status form .form-item select:focus, .swal2-container #Message-Change-Status form .form-item-haft .cancel-button:focus, .swal2-container #Message-Change-Status form .form-item-haft .change-button:focus, .swal2-container #Message-Add-Note form .form-item-haft .cancel-button:focus, .swal2-container #Message-Add-Note form .form-item-haft .change-button:focus, .swal2-container #Message-View-Contact-Infomation .message-button .cancel:focus, .swal2-container #Message-View-Contact-Infomation .message-button .viewcontact:focus {
    outline: none;
    transition: 0.3s; }
  .swal2-container #Post-Job #Search-Candidate .form-search .item:hover, #Post-Job #Search-Candidate .form-search .swal2-container .item:hover, .swal2-container #Post-Job #Search-Candidate .form-search .submit-advanced .button-submit:hover, #Post-Job #Search-Candidate .form-search .submit-advanced .swal2-container .button-submit:hover, .swal2-container #Post-Job #Search-Candidate .form-search .advanced-more .more-blue .row .blue-item:hover, #Post-Job #Search-Candidate .form-search .advanced-more .more-blue .row .swal2-container .blue-item:hover, .swal2-container #Post-Job #Search-Candidate .form-search .advanced-more .more-white .white-orange:hover, #Post-Job #Search-Candidate .form-search .advanced-more .more-white .swal2-container .white-orange:hover, .swal2-container #Message-Out-Of-Free-Post-Job .ok-button .okbutton:hover, .swal2-container #Message-Change-Status form .form-item select:hover, .swal2-container #Message-Change-Status form .form-item-haft .cancel-button:hover, .swal2-container #Message-Change-Status form .form-item-haft .change-button:hover, .swal2-container #Message-Add-Note form .form-item-haft .cancel-button:hover, .swal2-container #Message-Add-Note form .form-item-haft .change-button:hover, .swal2-container #Message-View-Contact-Infomation .message-button .cancel:hover, .swal2-container #Message-View-Contact-Infomation .message-button .viewcontact:hover {
    outline: none;
    transition: 0.3s; }
  .swal2-container #Post-Job #Search-Candidate .form-search .item::-webkit-input-placeholder, #Post-Job #Search-Candidate .form-search .swal2-container .item::-webkit-input-placeholder, .swal2-container #Post-Job #Search-Candidate .form-search .submit-advanced .button-submit::-webkit-input-placeholder, #Post-Job #Search-Candidate .form-search .submit-advanced .swal2-container .button-submit::-webkit-input-placeholder, .swal2-container #Post-Job #Search-Candidate .form-search .advanced-more .more-blue .row .blue-item::-webkit-input-placeholder, #Post-Job #Search-Candidate .form-search .advanced-more .more-blue .row .swal2-container .blue-item::-webkit-input-placeholder, .swal2-container #Post-Job #Search-Candidate .form-search .advanced-more .more-white .white-orange::-webkit-input-placeholder, #Post-Job #Search-Candidate .form-search .advanced-more .more-white .swal2-container .white-orange::-webkit-input-placeholder, .swal2-container #Message-Out-Of-Free-Post-Job .ok-button .okbutton::-webkit-input-placeholder, .swal2-container #Message-Change-Status form .form-item select::-webkit-input-placeholder, .swal2-container #Message-Change-Status form .form-item-haft .cancel-button::-webkit-input-placeholder, .swal2-container #Message-Change-Status form .form-item-haft .change-button::-webkit-input-placeholder, .swal2-container #Message-Add-Note form .form-item-haft .cancel-button::-webkit-input-placeholder, .swal2-container #Message-Add-Note form .form-item-haft .change-button::-webkit-input-placeholder, .swal2-container #Message-View-Contact-Infomation .message-button .cancel::-webkit-input-placeholder, .swal2-container #Message-View-Contact-Infomation .message-button .viewcontact::-webkit-input-placeholder {
    font-size: 14px; }
.swal2-container #Message-Out-Of-Free-Post-Job, .swal2-container #Message-Change-Status, .swal2-container #Message-Add-Note, .swal2-container #Message-View-Contact-Infomation {
  font-size: 16px;
  width: 370px; }
  .swal2-container #Message-Out-Of-Free-Post-Job .close-notify, .swal2-container #Message-Change-Status .close-notify, .swal2-container #Message-Add-Note .close-notify, .swal2-container #Message-View-Contact-Infomation .close-notify {
    float: right;
    font-size: 20px;
    line-height: 20px;
    color: #d1d0d6;
    cursor: pointer; }
.swal2-container #Message-Out-Of-Free-Post-Job {
  width: 100%;
  overflow: auto;
  padding-bottom: 30px; }
  .swal2-container #Message-Out-Of-Free-Post-Job .description {
    width: 100%;
    float: left;
    margin-top: 5px;
    text-align: center; }
  .swal2-container #Message-Out-Of-Free-Post-Job .ok-button {
    float: left;
    width: 100%;
    margin-top: 15px;
    text-align: center; }
    .swal2-container #Message-Out-Of-Free-Post-Job .ok-button .okbutton {
      float: none !important;
      width: 152px;
      border-radius: 3px;
      background-color: #f7912a;
      font-size: 18px;
      color: #fff;
      display: inline-block;
      text-align: center;
      cursor: pointer;
      line-height: 40px; }
      .swal2-container #Message-Out-Of-Free-Post-Job .ok-button .okbutton:hover {
        box-shadow: 0 0 5px #f7912a; }
.swal2-container #Message-Change-Status {
  overflow: auto;
  padding-bottom: 30px;
  width: 100%; }
  .swal2-container #Message-Change-Status .title {
    float: left;
    width: 100%;
    text-align: center;
    font-weight: 900;
    font-size: 18px;
    color: #040404; }
  .swal2-container #Message-Change-Status form {
    float: left;
    overflow: auto;
    width: 100%;
    margin-top: 15px; }
    .swal2-container #Message-Change-Status form .form-item {
      padding: 5px 0;
      float: left;
      width: 100%;
      text-align: center; }
      .swal2-container #Message-Change-Status form .form-item select {
        width: 70%;
        margin: 0 15%;
        font-size: 14px;
        border: 1px solid #b5b5b5 !important;
        background-color: #fff; }
        .swal2-container #Message-Change-Status form .form-item select:focus {
          box-shadow: 0 0 5px #2ec1d1; }
    .swal2-container #Message-Change-Status form .form-item-haft {
      float: left;
      width: 100%;
      padding: 0 15%;
      margin-top: 10px;
      overflow: auto; }
      .swal2-container #Message-Change-Status form .form-item-haft .cancel-button {
        float: left;
        width: 49%;
        height: 37px;
        margin-right: 2%;
        border: 1px solid #b5b5b5 !important;
        color: #b5b5b5;
        font-size: 18px;
        text-align: center;
        line-height: 33px;
        cursor: pointer; }
      .swal2-container #Message-Change-Status form .form-item-haft .change-button {
        float: left;
        width: 49%;
        height: 37px;
        background-color: #f7912a;
        color: #fff;
        font-size: 18px; }
.swal2-container #Message-Add-Note {
  max-width: 390px;
  min-height: 210px;
  width: 100%; }
  .swal2-container #Message-Add-Note .title {
    float: left;
    width: 100%;
    text-align: center;
    font-weight: 900;
    font-size: 18px;
    color: #040404; }
  .swal2-container #Message-Add-Note form {
    float: left;
    overflow: auto;
    width: 100%;
    margin: 15px 0 30px 0; }
    .swal2-container #Message-Add-Note form .form-item {
      padding: 5px 0;
      float: left;
      width: 100%;
      text-align: center; }
      .swal2-container #Message-Add-Note form .form-item textarea {
        min-width: 70%;
        max-width: 70%;
        margin: 0 15%;
        border-radius: 4px;
        border: 1px solid #b5b5b5 !important;
        background-color: #fff;
        transition: 0.3s; }
        .swal2-container #Message-Add-Note form .form-item textarea:focus {
          box-shadow: 0 0 5px #2ec1d1;
          outline: none;
          transition: 0.3s; }
    .swal2-container #Message-Add-Note form .form-item-haft {
      float: left;
      width: 100%;
      padding: 0 15%;
      margin-top: 8px;
      overflow: auto; }
      .swal2-container #Message-Add-Note form .form-item-haft .cancel-button {
        float: left;
        width: 49%;
        margin-right: 2%;
        border: 1px solid #b5b5b5 !important;
        color: #b5b5b5;
        font-size: 18px;
        text-align: center;
        line-height: 40px;
        cursor: pointer; }
      .swal2-container #Message-Add-Note form .form-item-haft .change-button {
        float: left;
        width: 49%;
        background-color: #f7912a;
        color: #fff;
        font-size: 18px; }
.swal2-container #Message-View-Contact-Infomation {
  max-width: 536px; }
  .swal2-container #Message-View-Contact-Infomation .title {
    margin: 10px 0 0 15px;
    font-size: 20px;
    font-weight: 900; }
  .swal2-container #Message-View-Contact-Infomation .contactinfo-table {
    margin: 15px 15px 0 15px;
    border-top: 1px solid #d1d0d6;
    padding: 20px 0; }
    .swal2-container #Message-View-Contact-Infomation .contactinfo-table table {
      width: 100%; }
      .swal2-container #Message-View-Contact-Infomation .contactinfo-table table tr {
        height: 42px;
        background-color: #f2f2f2; }
        .swal2-container #Message-View-Contact-Infomation .contactinfo-table table tr th,
        .swal2-container #Message-View-Contact-Infomation .contactinfo-table table tr td {
          text-align: center; }
      .swal2-container #Message-View-Contact-Infomation .contactinfo-table table thead tr {
        background-color: rgba(30, 189, 207, 0.15); }
  .swal2-container #Message-View-Contact-Infomation .have-enough {
    text-align: center;
    font-size: 13px;
    margin-bottom: 15px;
    color: #f22424; }
    .swal2-container #Message-View-Contact-Infomation .have-enough a {
      color: #2a75f7; }
  .swal2-container #Message-View-Contact-Infomation .message-button {
    text-align: center;
    width: 100%; }
    .swal2-container #Message-View-Contact-Infomation .message-button .cancel, .swal2-container #Message-View-Contact-Infomation .message-button .viewcontact {
      float: none !important;
      width: 125px;
      border: 1px solid #b5b5b5 !important;
      font-size: 18px;
      line-height: 35px;
      color: #b5b5b5;
      margin: 5px; }
      .swal2-container #Message-View-Contact-Infomation .message-button .cancel:hover, .swal2-container #Message-View-Contact-Infomation .message-button .viewcontact:hover {
        box-shadow: 0 0 5px #b5b5b5; }
    .swal2-container #Message-View-Contact-Infomation .message-button .viewcontact {
      border: none !important;
      background-color: #f7912a;
      color: #fff; }
      .swal2-container #Message-View-Contact-Infomation .message-button .viewcontact:hover {
        box-shadow: 0 0 5px #f7912a; }
      .swal2-container #Message-View-Contact-Infomation .message-button .viewcontact.disabled {
        background-color: #b5b5b5; }
        .swal2-container #Message-View-Contact-Infomation .message-button .viewcontact.disabled:hover {
          box-shadow: none;
          cursor: not-allowed; }

/*# sourceMappingURL=postjob.css.map */
