html {
    scroll-behavior: smooth;
}

body {
    font-family: Roboto !important;
    height: 100%;
    overflow: scroll;
}

button {
    border: none;
    background-color: #ffffff;
}

button:focus {
    outline: none !important;
}


/* Body */
#ITNavi-Super-Landing-Page {
    background-color: #ffffff;
}

#ITNavi-Super-Landing-Page .navi-body {
    overflow: auto;
}

#ITNavi-Super-Landing-Page .talent-solution {
    width: 100%;
    height: auto;
    overflow: auto;
    margin-top: -67px;
    background-image: url(../image/mask-group-1@3x.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
}

#ITNavi-Super-Landing-Page .two-personal {
    float: right;
    width: 40%;
    height: auto;
    margin: 11.6% 6.3% 0 0;
}

#ITNavi-Super-Landing-Page .two-personal img {
    width: 100%;
    height: 100%;
}


/* Three Circle */
.threecircle {
    float: left;
    width: 14.5%;
    height: 14.5%;
    margin: -25px 0 0 -8%;
}

.threecircle img {
    width: 100%;
    height: 100%;
}

/* Talent Solution */
#ITNavi-Super-Landing-Page .talent-solution .title {
    padding: 17.1% 0 0 12%;
}

#ITNavi-Super-Landing-Page .talent-solution .big-title {
    font-size: 91px;
    line-height: 109px;
    font-weight: bolder;
    color: #16bee5;
}

#ITNavi-Super-Landing-Page .talent-solution .small-title {
    font-size: 49px;
    line-height: 59px;
    font-weight: bold;
    color: #16bee5;
    padding-left: 10px;
}

#ITNavi-Super-Landing-Page .talent-solution .login-signup {
    font-size: 18px;
    font-weight: bold;
    color: #16bee5;
    margin-top: 50px;
    margin-left: 11px;
}

#ITNavi-Super-Landing-Page .talent-solution .button-signup, .talent-solution .button-login {
    height: 52px;
    width: 192px;
    font-size: 18px;
    font-weight: normal;
    border-radius: 26px;
    margin: 0 32px 10px 0;
}

#ITNavi-Super-Landing-Page .talent-solution .button-login {
    border: solid 1px #1ebdcf;
}

#ITNavi-Super-Landing-Page .talent-solution .button-signup {
    background-color: #1ebdcf;
    color: #ffffff;
}


/* Our Service */

#ITNavi-Super-Landing-Page .our-service {
    width: 100%;
    padding-top: 110px;
    margin-top: -50px;
    text-align: center;
    background-image: url(../image/mask-group-2@3x.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
}

#ITNavi-Super-Landing-Page .our-service-title {
    font-size: 44px;
    font-weight: 900;
    color: #1ebdcf;
}

#ITNavi-Super-Landing-Page .our-service-list {
}

#ITNavi-Super-Landing-Page .our-service-list-child {
    padding-top: 50px;
}

#ITNavi-Super-Landing-Page .our-service-item {
    height: 320px;
    border-radius: 21px;
    background-color: #ffffff;
    box-shadow: 0 0 15px 0 rgba(1, 185, 214, 0.22);
    padding: 20px 40px 0 40px;
    margin-bottom: 60px;
}

#ITNavi-Super-Landing-Page .our-service-item .item-image {
    height: 130px;
}

#ITNavi-Super-Landing-Page .our-service-item .item-title {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 900;
    color: #464545;
    margin-top: 30px;
}

#ITNavi-Super-Landing-Page .our-service-item .item-description {
    margin-top: 16px;
    font-family: Roboto;
    font-size: 16px;
    color: #464545;
}



/* Our Client */
#ITNavi-Super-Landing-Page .our-client {
    background-color: #fafbfe;
    padding-top: 30px;
}

#ITNavi-Super-Landing-Page .our-client-title {
    font-size: 44px;
    font-weight: 900;
    color: #1ebdcf;
    text-align: center;
}

#ITNavi-Super-Landing-Page .our-client-list {
    margin-top: 30px;
    text-align: center;
}

#ITNavi-Super-Landing-Page .our-client-item {
    width: 15%;
    height: 140px;
    margin: 0 2%;
    margin-bottom: 30px;
    display: inline-block;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;
}



/* What They Say */
#ITNavi-Super-Landing-Page .wts {
    margin-top: 55px;

}

#ITNavi-Super-Landing-Page .wts .container-fluit {
    margin-top: 55px;

}

#ITNavi-Super-Landing-Page .wts-title {
    font-size: 44px;
    font-weight: 900;
    color: #1ebdcf;
    text-align: center;
}

#ITNavi-Super-Landing-Page .wts-title-border {
    width: 112px;
    height: 5px;
    background-color: #1ebdcf;
    margin: 23px auto;
}

#ITNavi-Super-Landing-Page .wts-previous {

}

#ITNavi-Super-Landing-Page .wts-previous-icon, .wts-next-icon {
    margin-top: 70px;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
    transition: 0.15s;
}

#ITNavi-Super-Landing-Page .wts-previous-icon:hover, .wts-next-icon:hover {
    box-shadow: 0 0 10px #1ebdcf;
    transition: 0.15s;
}

#ITNavi-Super-Landing-Page .wts-previous-icon {
    float: right;
    padding: 21px 0 0 25px;
}

#ITNavi-Super-Landing-Page .wts-next-icon {
    float: left;
    padding: 22px 0 0 28px;
}

#ITNavi-Super-Landing-Page .wts-previous-icon img, .wts-next-icon img {
    width: 11px;
    height: 19px;
}

#ITNavi-Super-Landing-Page .wts-list-item {
    padding: 4px 12px 20px 12px;
}

#ITNavi-Super-Landing-Page .wts-item {
    border-radius: 18px;
    box-shadow: 0 9px 15px 0 rgba(0, 0, 0, 0.11);
    background-color: #ffffff;
    padding: 28px 25px;
    overflow: auto;
}


#ITNavi-Super-Landing-Page .wts-item a:hover, #ITNavi-Super-Landing-Page .wts-item a:focus {
    text-decoration: none;
}

#ITNavi-Super-Landing-Page .wts-item-image {
    float: left;
    margin-right: 18px;
}

#ITNavi-Super-Landing-Page .wts-item-image img {
    width: 72px;
    height: 72px;
    border-radius: 50%;
}

#ITNavi-Super-Landing-Page .wts-item-name {
    font-weight: 900;
    margin-top: 12px;
    font-size: 18px;
    color: #464545;
}

#ITNavi-Super-Landing-Page .wts-item-job {
    font-size: 15px;
    color: #b5b5b5;
}

#ITNavi-Super-Landing-Page .wts-item-description {
    float: left;
    width: 100%;
    font-size: 15px;
    line-height: 1.75;
    padding: 18px 8px 0 8px;
    color: #1c1b1b;
}

#ITNavi-Super-Landing-Page .wts-item-rate {
    float: left;
    overflow: auto;
    width: 100%;
    padding: 15px 8px 0 8px;
}

#ITNavi-Super-Landing-Page .wts-item-rate img {
    float: left;
    width: 11.3px;
    height: 10.8px;
    margin-right: 2px;
}

#ITNavi-Super-Landing-Page .wts-number {
    position: relative !important;
    overflow: auto;
    z-index: 0 !important;
    margin-top: 30px;
    left: auto !important;
    width: auto !important;
    margin-left: auto !important;
}

#ITNavi-Super-Landing-Page .wts-number li {
    width: 15px !important;
    height: 15px !important;
    display: inline-block;
    border-radius: 50%;
    background-color: #ffffff !important;
    margin: 0 2px;
    text-indent: 0 !important;
    transition: 0.2s;
}

#ITNavi-Super-Landing-Page .wts-number li div {
    width: 9px;
    height: 9px;
    display: inline-block;
    border-radius: 50%;
    background-color: #1ebdcf !important;
    margin: 3px 3px;
    transition: 0.2s;
}

#ITNavi-Super-Landing-Page .wts-number .active {
    width: 17px !important;
    height: 17px !important;
    display: inline-block;
    border-radius: 50%;
    background-color: #1ebdcf !important;
    margin: 0 2px;
    transition: 0.2s;
}

#ITNavi-Super-Landing-Page .wts-number .active div {
    width: 13px;
    height: 13px;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid #ffffff;
    background-color: #1ebdcf !important;
    margin: 1px 1px;
    transition: 0.2s;
}

#ITNavi-Super-Landing-Page #contact-us-form {
    background-color: #fff !important;
}

@media screen and (max-width: 1448.98px){
    #ITNavi-Super-Landing-Page .talent-solution .title {
        padding: 17.1% 0 0 7%;
    }
}

@media screen and (max-width: 1365.98px){
    #ITNavi-Super-Landing-Page .our-service {
        background-size: 1366px auto;
    }
}

@media screen and (max-width: 1292.98px){
    #ITNavi-Super-Landing-Page .talent-solution .big-title {
        line-height: auto;
    }

    #ITNavi-Super-Landing-Page .talent-solution .small-title {
        margin-top: 20px;
        padding-left: 0;
    }

    #ITNavi-Super-Landing-Page .talent-solution .login-signup {
        margin-top: 20px;
        margin-left: 0;
    }

    
}

@media screen and (max-width: 1199.98px){
    #ITNavi-Super-Landing-Page .our-service {
        background-repeat: repeat-y;
    }

    #ITNavi-Super-Landing-Page .wts .wts-small-hidden {
        display: none;
    }
}

@media screen and (max-width: 991.98px){
    #navi-navbar .navi-navbar-item {
        height: 50px;
    }

    #navi-navbar .item-right {
        width: 100%;
    }

    #navi-navbar .seemore {
        display: inline-block;
    }

    #ITNavi-Super-Landing-Page .talent-solution .two-personal {
        width: 100%;
        margin-right: 0;
        padding: 0 30% 0 15%;
        margin-top: 100px;
    }

    #ITNavi-Super-Landing-Page .talent-solution .title {
        padding: 70px 10% 0 10%;
        float: left;
    }

    #ITNavi-Super-Landing-Page .talent-solution .small-title {
        padding-left: 11px;
    }

    #ITNavi-Super-Landing-Page .talent-solution .login-signup {
        margin-left: 11px;
    }


    #ITNavi-Super-Landing-Page .our-client-item {
        width: 20%;
        margin-left: 2%;
        margin-right: 2%
    }
}

@media screen and (max-width: 767.98px){
    #navi-navbar .navi-navbar-item {
        width: 100%;
        height: 0px;
        padding-left: 50px;
    }

    #ITNavi-Super-Landing-Page .our-service-item {
        height: auto;
        margin-left: 15%;
        margin-right: 15%;
        padding-bottom: 30px;
    }

    #ITNavi-Super-Landing-Page .wts-item .wts-item-image, #ITNavi-Super-Landing-Page .wts-item .wts-item-name, #ITNavi-Super-Landing-Page .wts-item .wts-item-job {
        width: 100%;
    }

    #ITNavi-Super-Landing-Page .wts-item .wts-item-description {
        padding: 18px 0 0 0;
    }

}

@media screen and (max-width: 575.98px){
    #navi-navbar .super-navbar-gray-border {
        display: none;
    }

    #navi-navbar .navi-navbar-item .button {
        padding: 0 30px 0 0;
    }

    #navi-navbar .button-login, #navi-navbar .button-signup{
        width: 100%;
    }

    #navi-navbar .button-login{
        margin-top: 10px;
    }

    #navi-navbar .button-signup{
        margin-bottom: 10px;
    }

    #navi-navbar .button-login button{
        margin: 9px 0px 0 0px;
    }
    
    #ITNavi-Super-Landing-Page .talent-solution .two-personal {
        padding: 0 10% 0 10%;
    }

    #ITNavi-Super-Landing-Page .our-service-item {
        margin-left: 5%;
        margin-right: 5%;
    }

    #ITNavi-Super-Landing-Page .our-client-item {
        width: 28%;
        height: 100px;
        margin-left: 2%;
        margin-right: 2%;
    }

    #ITNavi-Super-Landing-Page .talent-solution .big-title {
        font-size: 60px;
        line-height: 70px;
    }
    
    #ITNavi-Super-Landing-Page .talent-solution .small-title {
        font-size: 30px;
        line-height: 35px;
    }

    #ITNavi-Super-Landing-Page .wts-list-item .zoom-xxxs {
        width: 100%;
        margin-bottom: 15px;
    }

    #ITNavi-Super-Landing-Page .wts-item .wts-item-image {
        width: auto;
        float: left;
        text-align: left;
    }

    #ITNavi-Super-Landing-Page .wts-item .wts-item-name, .wts-item .wts-item-job {
        width: auto;
        text-align: left;
    }

    #ITNavi-Super-Landing-Page .wts-item .wts-item-description {
        padding: 18px 10px 0 10px;
    }
    
}



@keyframes navbarshowing {
    0%   {
        height: 50px;
    }
    100% {
        height: 100px;
    }
}
  
#navi-navbar .navbarfull-showing {
    animation-name: navbarshowing;
    animation-duration: 0.15s;
  }

@keyframes navbarhiding {
    0%   {
        height: 100px;
    }
    100% {
        height: 50px;
    }
}
  
#navi-navbar .navbarfull-hidding {
    animation-name: navbarhiding;
    animation-duration: 0.15s;
    overflow: hidden;
}