body {
    font-family: Roboto !important;
}

button {
    border: none;
    background-color: #ffffff;
}

button:focus {
    outline: none !important;
}


button:hover {
    box-shadow: 0 0 6px #16bee5;
    transition: 0.15s;
}

/* Navbar */
#navi-navbar {
    background-color: #ffffff;
    height: auto;
    overflow: auto;
}

.navi-logolink {
    height: 50px;
    margin: 0 3%;
    padding: 0 2%;
    float: left;
    overflow: auto;
}

.navi-logolink img {
    height: 50px;
    width: auto;
    float: left;
}

#navi-navbar .navi-navbar-item {
    overflow: auto;
}

.navi-navbar-item .item {
    float: left;
}

.navi-navbar-item .text {
    font-size: 18px;
    line-height: 50px;
    margin-right: 40px;
}

.navi-navbar-item .text a {
    color: #7f7f7f;
    font-weight: 100;
}

.navi-navbar-item .button {

    float: right;
    overflow: auto;
    padding: 0 28px 0 0;
}

.region-button {
    float: left;
    height: 26px;
    width: 26px;
    margin-top: 14px;
    cursor: pointer;
    background-image: url(../image/vietnam.png);
    background-repeat: no-repeat;
    background-size: 26px;
}

.notify-button {
    overflow: auto;
    float: left;
    margin-top: 14px;
    height: 26px;
    width: 23px;
    background-image: url(../image/notification@3x.png);
    background-repeat: no-repeat;
    background-size: 23px 26px;
}

.notify-button .alent-dot {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    margin-top: 1px;
    background-color: #f82020;
    border: 1px solid #ffffff;
    float: right;
}

.super-navbar-gray-border {
    margin-top: 14px;
    width: 1px;
    height: 26px;
    background-color: #707070;
    opacity: 0.19;
    float: right;
}

.button-login {
    width: 140px;
    height: 36px;
    text-align: center;
    padding: 0 !important;
    margin: 9px 40px 0 35px;
    border-radius: 18px;
    border: solid 1px #1ebdcf;
    color: #1ebdcf;
}

.button-signup {
    width: 140px;
    height: 36px;
    text-align: center;
    padding: 0 !important;
    margin-top: 9px;
    margin-right: 5%;
    border-radius: 18px;
    background-color:#1ebdcf;
    color: #ffffff;
    transition: 0.15s;
}


/* Three Circle */
.threecircle {
    float: left;
    width: 14.5%;
    height: 14.5%;
    margin: -25px 0 0 -8%;
}

.threecircle img {
    width: 100%;
    height: 100%;
}



/* Navbar line */
#ITNavi-Super-Landing-Page {
    background-color: #ffffff;
}

.navi-navbar-borderbottom {
    float: left;
    width: 100%;
    height: 14px;
}

.navi-navbar-borderbottom .top-left {
    height: 7px;
    width: 35%;
    overflow: auto;
    background-color: #24becf;
}

.navi-navbar-borderbottom .top-left .rectangle {
    width: 7px;
    height: 100%;
    float: right;
    border-bottom: 7px solid #212b48;
    border-left: 7px solid #24becf;
}

.navi-navbar-borderbottom .bottom-right {
    height: 7px;
    margin-left: 35%;
}

.navi-navbar-borderbottom .bottom-right div {
    height: 7px;
    background-color: #f58128;
    margin-left: -7px;
}


/* Body */
.navi-body {
    overflow: auto;
}

.talent-solution {
    width: 100%;
    height: auto;
    overflow: auto;
    margin-top: -67px;
    background-image: url(../image/mask-group-1@3x.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.two-personal {
    float: right;
    width: 40%;
    height: auto;
    margin: 11.6% 6.3% 0 0;
}

.two-personal img {
    width: 100%;
    height: 100%;
}

.talent-solution .title {
    padding: 17.1% 0 0 12%;
}

.talent-solution .big-title {
    font-size: 91px;
    line-height: 109px;
    font-weight: bolder;
    color: #16bee5;
}

.talent-solution .small-title {
    font-size: 49px;
    line-height: 59px;
    font-weight: bold;
    color: #16bee5;
    padding-left: 10px;
}

.talent-solution .login-signup {
    font-size: 18px;
    font-weight: bold;
    color: #16bee5;
    margin-top: 50px;
    margin-left: 11px;
}

.talent-solution .button-signup, .talent-solution .button-login {
    height: 52px;
    width: 192px;
    font-size: 18px;
    font-weight: normal;
    border-radius: 26px;
    margin: 0 32px 0 0;
}



/* Our Service */

.our-service {
    width: 100%;
    padding-top: 110px;
    margin-top: -50px;
    text-align: center;
    background-image: url(../image/mask-group-2@3x.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.our-service-title {
    font-size: 44px;
    font-weight: 900;
    color: #1ebdcf;
}

.our-service-list {
}

.our-service-list-child {
    padding-top: 50px;
}

.our-service-item {
    height: 320px;
    border-radius: 21px;
    background-color: #ffffff;
    box-shadow: 0 0 15px 0 rgba(1, 185, 214, 0.22);
    padding: 20px 40px 0 40px;
    margin-bottom: 60px;
}

.our-service-item .item-image {
    height: 130px;
}

.our-service-item .item-title {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 900;
    color: #464545;
    margin-top: 30px;
}

.our-service-item .item-description {
    margin-top: 16px;
    font-family: Roboto;
    font-size: 16px;
    color: #464545;
}



/* Our Client */
.our-client {
    background-color: #fafbfe;
    padding: 30px 0;
}

.our-client-title {
    font-size: 44px;
    font-weight: 900;
    color: #1ebdcf;
    text-align: center;
}



@media screen and (max-width: 1365.98px){
    .our-service {
        background-size: 1366px auto;
    }
}

@media screen and (max-width: 1199.98px){
    .our-service {
        background-repeat: repeat-y;
    }
}

@media screen and (max-width: 991.98px){
    #navi-navbar .navi-navbar-item {
        height: 0px;
    }
}

@media screen and (max-width: 767.98px){
    .our-service-item {
        height: auto;
        margin-left: 15%;
        margin-right: 15%;
        padding-bottom: 30px;
    }
}

@media screen and (max-width: 575.98px){
    .our-service-item {
        margin-left: 5%;
        margin-right: 5%;
    }
}