#Job-By-Title-Company {
    color: #454545;
    font-size: 16px;
    margin-top: 110px;

    .super-origin-title {
        font-size: 20px;
        color: #2d2d2c;
    }

    %default-background-image {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
    }

    %default-input-form {
        transition: 0.3s;
        background-color: #ffffff;
        border: none;

        &:hover {
            outline: none;
            transition: 0.3s;
        }

        &:focus {
            outline: none;
            transition: 0.3s;
        }
    }

    .find-form {
        margin-top: 9px;
        text-align: left;

        .form-body {
            border-radius: 9px;
            background-color: rgba($color: #1ebdcf, $alpha: 0.9);
            padding: 15px 20px 8px 20px;
            overflow: auto;

            .item {
                padding: 8px;
                float: left;

                &.item-search {
                    width: 60%;

                    .search-input {
                        height: 48px;
                        width: 100%;
                        display: inline-block;
                        border-radius: 3px;
                        background-color: #ffffff;
                        background-image: url(../image/magnifying-glass-browser@3x.png);
                        background-size: 16.9px 17.4px;
                        background-repeat: no-repeat;
                        background-position: 15px 16px;
                        padding: 0 10px 0 40px;
                        transition: 0.3s;
                        cursor: pointer;

                        &:focus-within {
                            transition: 0.3s;
                            box-shadow: 0 0 10px #fff;

                        }

                        input {
                            @extend %default-input-form;

                            height: 40px;
                            cursor: pointer;
                            margin-top: 4px;
                            width: 100%;
                        }
                    }
                }

                &.item-location {
                    @extend .item-search;
                    width: 20%;

                    select {
                        outline: none;

                        &:focus {
                            outline: none;
                        }
                    }

                    .select2-container {
                        width: 100% !important;

                        .select2-selection {
                            height: 48px;
                            border: none;
                            background-image: url(../image/placeholder@3x.png);
                            background-size: 13.2px 18.7px;
                            background-repeat: no-repeat;
                            background-position: 13px 13px;

                            .select2-selection__rendered {
                                padding: 10px 0 0 38px;
                            }

                            .select2-selection__arrow {
                                margin-top: 9px;
                            }
                        }
                    }

                }

                &.item-submit {
                    @extend .item-search;
                    width: 20%;

                    button {
                        @extend %default-input-form;

                        height: 48px;
                        border-radius: 3px;
                        background-color: #f7912a;
                        color: #ffffff;
                        font-size: 18px;
                        border: none;
                        width: 100%;

                        &:hover {
                            box-shadow: 0 0 10px #f7912a;
                        }

                    }
                }

                &.item-full {
                    width: 100%;
                    padding: 2px 8px 0 2px;
                    text-align: right;
                    color: #fff;

                    .zoom-icon {
                        width: 18.8px;
                        height: 19px;
                        margin-right: 5px;
                        display: inline-block;
                        background-image: url(../image/searching-magnifying-glass@3x.png);
                        background-size: 18.8px;
                        background-repeat: no-repeat;

                        span {
                            font-size: 8px;
                            float: left;
                            margin: 2px 0 0 4.5px;
                        }
                    }

                    .zoom-text {
                        display: inline-block;
                        float: right;
                        padding-top: 1px;
                    }
                }
            }
        }

        @media screen and (max-width: 991.98px) {
            .form-body {
                .item {
                    &.item-search {
                        width: 100%;
                    }

                    &.item-location {
                        width: 50%;
                    }

                    &.item-submit {
                        width: 50%;
                    }
                }
            }
        }

        @media screen and (max-width: 575.98px) {
            .form-body {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }

    .list-job {
        margin-top: 21px;
        background-color: #ffffff;
        padding: 30px 75px;

        .title {
            font-size: 24px;
            color: #24becf;
            font-weight: 900;

        }

        .company-firstcharacter {
            margin-top: 20px;
            box-shadow: 0 10px 20px 0 rgba(91, 91, 91, 0.16);
            padding: 10px 15px;
            background-color: #ffffff;

            .character-item {
                display: inline-block;
                text-transform: uppercase;
                border-radius: 13px;
                background-color: #fff;
                padding: 2px 0 1px 0;
                margin: 5px 15px;
                color: #454545;
                width: 70px;
                text-align: center;
                transition: all 0.3s;

                &.active {
                    background-color: #24becf;
                    color: #fff;

                    &:hover {
                        background-color: #24becf;
                    }
                }

                &:hover {
                    background-color: #d1d0d6;
                }
            }
        }

        .big-job-list {
            margin-top: 30px;

            .list-title {
                height: 25px;
                position: relative;

                .title-text {
                    width: 25px;
                    height: 25px;
                    color: #fff;
                    padding-top: 2px;
                    text-align: center;
                    position: absolute;
                    border-radius: 13px;
                    display: inline-block;
                    background-color: #24becf;
                }

                .title-line {
                    margin-left: 50px;
                    height: 12px;
                    border-bottom: 1px solid #b5b5b5;
                }
            }

            .list-body {
                margin-top: 30px;

                .row {

                    a {
                        
                        &:hover {
                            text-decoration-color: #464545;
                        }
                    }

                    .mini-item {
                        color: #464545;
                        margin-bottom: 13px;
                    }
                }
            }
        }

        @media screen and (max-width: 1199.98px) {
            padding-left: 30px;
            padding-right: 30px;
        }

        @media screen and (max-width: 575.98px) {
            padding-left: 10px;
            padding-right: 10px;

            .big-job-list {
                .list-title {
                    .title-line {
                        margin-left: 35px;
                    }
                }
            }
        }
    }


}