#CV-Template {
  font-family: Arial, Helvetica, sans-serif;
  width: 90%;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
  overflow: auto; }
  #CV-Template .bolder-text {
    font-weight: bold; }
  #CV-Template .italic-text {
    font-style: italic; }
  #CV-Template .col-3, #CV-Template .col-85, #CV-Template .col-9, #CV-Template .col-12 {
    width: 25%;
    float: left; }
  #CV-Template .col-85 {
    width: 70%; }
  #CV-Template .col-9 {
    width: 75%; }
  #CV-Template .col-12 {
    width: 100%; }
  #CV-Template .supertable table {
    font-size: 20px; }
  #CV-Template .local-avatar .padding-10px {
    padding-right: 8%; }
  #CV-Template .local-avatar .avatar {
    width: 100%; }
  #CV-Template .name {
    font-size: 44px;
    font-weight: bold;
    color: #24becf; }
  #CV-Template .job-name {
    font-size: 28px;
    font-weight: bold; }
  #CV-Template .line-blue {
    border-top: 2px solid #24becf;
    margin: 10px 0; }
    #CV-Template .line-blue .circle {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      border: solid 2px #24becf;
      background-color: #ffffff;
      margin-top: -7px;
      float: right; }
  #CV-Template .item {
    font-size: 18px;
    padding-bottom: 14px; }
    #CV-Template .item .item-image img {
      margin-bottom: -2px; }
  #CV-Template .element .title {
    font-size: 24px;
    color: #24becf;
    font-weight: bold;
    padding: 30px 0 12px 0;
    border-bottom: 2px solid #d1d0d6; }
    #CV-Template .element .title .title-image {
      width: 26px;
      height: 26px; }
  #CV-Template .element .body {
    margin-top: 20px;
    padding-bottom: 10px;
    width: 100%; }
  #CV-Template .element .timeline {
    font-size: 18px; }
    #CV-Template .element .timeline .bolder-text {
      margin-bottom: 12px; }
    #CV-Template .element .timeline .description {
      font-size: 16px;
      margin-bottom: 12px; }
  #CV-Template .element .onlytext-small {
    font-size: 16px; }
  #CV-Template .element .onlytext {
    font-size: 18px; }
  #CV-Template .element .supertable {
    width: 100%; }
    #CV-Template .element .supertable .table-title {
      font-size: 18px;
      padding: 20px 0 8px 0; }
    #CV-Template .element .supertable table {
      width: 100%;
      font-size: 16px;
      background-color: rgba(30, 189, 207, 0.15);
      font-family: Arial, Helvetica, sans-serif; }
      #CV-Template .element .supertable table:last-child {
        margin-bottom: 0; }
      #CV-Template .element .supertable table tr th,
      #CV-Template .element .supertable table tr td {
        text-align: center;
        padding-top: 6px;
        padding-bottom: 6px; }
      #CV-Template .element .supertable table thead {
        background-color: rgba(30, 189, 207, 0.15); }
        #CV-Template .element .supertable table thead tr {
          background-color: rgba(30, 189, 207, 0.15); }
      #CV-Template .element .supertable table tbody tr {
        border-bottom: 1px solid rgba(30, 189, 207, 0.15); }
        #CV-Template .element .supertable table tbody tr td {
          border-bottom: 1px solid rgba(30, 189, 207, 0.15); }
        #CV-Template .element .supertable table tbody tr:last-child {
          border-bottom: none; }
          #CV-Template .element .supertable table tbody tr:last-child td {
            border-bottom: 1px solid rgba(30, 189, 207, 0.15); }
  #CV-Template .super-logo {
    text-align: center;
    padding-top: 60px; }
    #CV-Template .super-logo img {
      width: 132px;
      height: 52px; }

/*# sourceMappingURL=cvform.css.map */
