.myjob-tab {
    overflow: auto;
}

.myjob-tablinks {
    height: 22px;
    line-height: 22px;
    font-size: 18px;
    text-align: left;
    color: #d1d0d6;
    padding: 0 20px 0 16px;
    border-right: 1px solid #d1d0d6;
    transition: 0.15s;
    background-color: #ffffff;
}

.myjob-tablinks:first-child {
    padding-left: 0px;
}

.myjob-tablinks:last-child {
    padding-right: 0px;
    border: none
}

.myjob-tab .active, .myjob-tablinks:active {
    outline: none;
    color: #454545;
    transition: 0.15s;
}


/* Table */
.myjob-table{
    margin-top: 20px;
    width: 100%;
}

.myjob-table tr {
    text-align: center;
    font-weight: normal;
}

.myjob-table tbody tr {
    border-bottom: 1px solid #d1d0d6;
}

.myjob-table tbody tr:last-child {
    border-bottom: none;
}

.myjob-table tbody .jobtitle {
    text-align: left;
}

.myjob-table tbody .locationdate {
    text-align: right;
}

.myjob-table thead tr {
    height: 44px;
    border-radius: 2px;
    background-color: rgba(30, 189, 207, 0.15);
}

.myjob-table thead th {
    line-height: 44px;
    font-size: 16px;
    font-weight: 900;
    color: #464545;
}

td {
    padding: 13px 15px 12px 15px;
    overflow: auto;
    font-size: 14px;
}

tr .jobtitle {
    width: 35%;
}


tr .location {
    width: 20%;
}

tr .saveddate {
    width: 15%;
}

tr .expireddate {
    width: 15%;
}

tr .locationdate {
    width: 35%;
    padding-right: 15px;
}

tr .action {
    width: 15%;
}

.jobtitle-image {
    float: left;
    width: 74px;
    height: 74px;
    margin-right: 30px;
}

.jobtitle .info {
    float: left;
}

.jobtitle .jobname {
    font-size: 16px;
    font-weight: 900;
    color: #464545;
}

.jobtitle .companyname, .jobtitle .salary {
    margin-top: 7px;
    color: #464545;
}

tr .action button {
    width: 100%;
    height: 35px;
    border-radius: 4px;
    background-color: #29c7d6;
    color: #ffffff;
    margin-bottom: 10px;
    transition: 0.2s;
}

tr .action button:hover {
    box-shadow: 0 0 6px #2ec1d1;
}

tr .action .applied {
    background-color: #d1d0d6;
    color: #000000;
}

tr .action .applied:hover {
    box-shadow: 0 0 6px #d1d0d6;
}

tr .action .save-jobs-hearticon {
    width: 21px;
    height: 20px;
    margin-right: 10px;
}

tr .action a {
    color: #454545;
}

tr .action a:hover {
    color: #454545;
}

tr .locationdate div {
    margin-top: 7px;
}

tr .locationdate div:first-child {
    margin-top: 0;
}

tr .locationdate span {
    font-weight: 900;
    margin-right: 15px;
}

.applied-icon {
    float: left;
    width: 100%;
    margin-bottom: 5px;
    text-align: center;
}

.applied-icon img {
    width: 33px;
    height: 33px;
}

.applied-text {
    float: left;
}



@media screen and (max-width: 1199.98px) { 
    tr .jobtitle {
        width: 40%;
    }
    
    
    tr .location {
        width: 15%;
    }

    td {
        padding: 13px 10px 12px 10px;
    }
    
    .jobtitle-image {
        width: 23%;
        height: auto;
        margin-right: 5%;
    }
    
    .jobtitle .info {
        width: 72%;
        float: left;
    }
}

@media (min-width: 992px) { 
    tr .locationdate {
        display: none;
    }
}

@media screen and (max-width: 991.98px) { 
    td {
        padding: 13px 8px 12px 8px;
    }

    tr .location, tr .saveddate, tr .expireddate  {
        display: none;
        width: 0;
    }

    tr .jobtitle {
        width: 50%;
    }

    .jobtitle-image {
        width: 25%;
        height: auto;
        margin-right: 5%;
    }
    
    .jobtitle .info {
        width: 70%;
        float: left;
    }

}



/* For Mobile */

.myjob-table-mobile {
    display: none;
    font-size: 14px;
}

.myjob-table-mobile .myjob-item {
    border-bottom: 1px solid #d1d0d6;
    margin-top: 20px;
    padding-bottom: 20px;
    overflow: auto;
}

.myjob-table-mobile .jobtitle {
    width: 56%;
    margin-right: 4%;
    float: left;
}

.myjob-table-mobile .job-desctiption {
    width: 40%;
    float: left;
}

.myjob-table-mobile .job-desctiption .locationdate {
    text-align: right;
}

.myjob-table-mobile .job-desctiption .locationdate .jobname {
    font-size: 18px;
    font-weight: 900;
}

.myjob-table-mobile .job-desctiption .locationdate .locationdate-item {
    margin-top: 10px;
    overflow: auto;
}

.myjob-table-mobile .job-desctiption .locationdate .locationdate-item:first-child {
    margin-top: 0;
}

.myjob-table-mobile .job-desctiption .locationdate .name {
    font-weight: 900;
    font-size: 14px;
    float: left;
}

.myjob-table-mobile .action {
    overflow: auto;
    text-align: center;
    margin-top: 15px;
}

.myjob-table-mobile .action button {
    width: 40%;
    height: 35px;
    border-radius: 4px;
    background-color: #29c7d6;
    color: #ffffff;
    margin-right: 15px;
    transition: 0.2s;
}

.myjob-table-mobile .action button:hover {
    box-shadow: 0 0 6px #2ec1d1;
}

.myjob-table-mobile .action .applied {
    background-color: #d1d0d6;
    color: #000000;
}

.myjob-table-mobile .action .applied:hover {
    box-shadow: 0 0 6px #d1d0d6;
}


.myjob-table-mobile .action .save-jobs-hearticon {
    width: 21px;
    height: 20px;
    margin-right: 10px;
}

.myjob-table-mobile .action a {
    color: #454545;
}

.myjob-table-mobile .action a:hover {
    color: #454545;
}

@media screen and (max-width: 767.98px) { 
    .myjob-table {
        display: none;
    }

    .myjob-table-mobile {
        display: block;
    }

    .jobtitle-image {
        width: 100px;
        height: auto;
    }
    
    .jobtitle .info {
        width: 100%;
        float: left;
        margin-top: 15px;
    }

    .applied-icon {
        width: 50%;
        padding-right: 10px;
        text-align: right;
    }

    .applied-text {
        width: 50%;
        text-align: left;
        padding-top: 6px;
    }

    
}

@media screen and (max-width: 479.98px) { 

    .myjob-table-mobile .jobtitle {
        width: 48%;
        margin-right: 4%;
        float: left;
    }
    
    .myjob-table-mobile .job-desctiption {
        width: 48%;
        float: left;
    }
    
    .myjob-table-mobile .job-desctiption .locationdate .name {
        float: none;
        font-size: 15px;
    }
}

@media screen and (max-width: 386.98px) { 

    .myjob-tablinks {
        height: 42px;
        padding: 10px 20px;
        border-right: none;
        border-bottom: 1px solid #d1d0d6;
    }
    
    .myjob-tablinks:first-child {
        padding: 10px 20px;
    }
    
    .myjob-tablinks:last-child {
        padding: 10px 20px;
    }
    
    .myjob-tab .active, .myjob-tablinks:active {
        outline: none;
        color: #454545;
        transition: 0.15s;
    }

    .myjob-table-mobile .action button {
        width: 100%;
        margin-bottom: 10px;
    }
}