#job-seeker-myaccountinfo {
    background-color: #f2f2f2 !important;
    font-family: Roboto !important;
    color: #454545 !important;
}


#job-seeker-myaccountinfo .set-box-shadow {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.11);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    background-color: white;
}
#job-seeker-myaccountinfo button, input {
    border: none;
}

#job-seeker-myaccountinfo input:focus, select:focus, button, button:hover, button:active, button:hover:active, button:focus {
    outline: none;
    
}

#job-seeker-myaccountinfo .hidden {
    display: none;
}


/* Find your next */
#job-seeker-myaccountinfo .find {
    opacity: 0.92;
    height: 107px;
    border-radius: 9px;
    padding: 20px 16px;
    background-color: #1ebdcf;
    margin: 40px 0;
    overflow: initial;
}


/* Find yout next - search */
#job-seeker-myaccountinfo .find .search {
    float: left;
    overflow: auto;
    width: 60%;
}

#job-seeker-myaccountinfo .find .search-button {
    width: 16%;
    height: 43px;
    border-radius: 3px;
    background-color: #f7912a;
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
    transition: 0.15s;
}

#job-seeker-myaccountinfo .find .search-button:hover {
    box-shadow: 0 0 7px #f7912a;
    transition: 0.15s;
}

#job-seeker-myaccountinfo .search input {
    float: left;
    border-radius: 3px;
    border: none;
    line-height: 43px;
    font-size: 16px;
    background-color: #ffffff;
    padding-left: 43px;
    height: 43px;
    width: 100%;
    transition: 0.15s;
}


#job-seeker-myaccountinfo .search .search-icon {
    float: left;
    padding: 9px 0 0 13px;
    margin-top: -43px;
    cursor: text;
}

#job-seeker-myaccountinfo .search .search-icon img {
    width: 18px;
    height: 18px;
}

#job-seeker-myaccountinfo .search-location {
    background-color: #1ebdcf;
    float: left;
    margin: 0 2%;
    width: 20% ;
    transition: 0.15s;
}

#job-seeker-myaccountinfo .search-location input {
    float: left;
    border-radius: 3px;
    border: none;
    line-height: 43px;
    font-size: 16px;
    background-color: #ffffff;
    padding: 0 35px 0 43px;
    height: 43px;
    width: 100% ;
    cursor: pointer;
}

#job-seeker-myaccountinfo .search-location .location-icon {
    float: left;
    padding: 9px 0 0 15px;
    margin-top: -43px;
    cursor: pointer;
}

#job-seeker-myaccountinfo .search-location .location-icon img {
    width: 13px;
}

#job-seeker-myaccountinfo .search-location .location-dropdown-icon {
    float: right;
    padding: 9px 10px 0 0;
    margin-top: -43px;
    cursor: pointer;
}

#job-seeker-myaccountinfo .search-location .location-dropdown-icon i {
    width: 13px;
}

#job-seeker-myaccountinfo .location-dropdown {
    position: absolute;
    margin: 50px 0 0 23px;
    width: 200px;
    padding: 10px 10px;
    border-radius: 6px;
    box-shadow: 0 0 3px #b5b5b5;
    background-color: #ffffff;
    overflow: scroll;
}

#job-seeker-myaccountinfo .location-dropdown-item {
    padding: 5px 10px;
    cursor: pointer;
    transition: 0.15s;
}

#job-seeker-myaccountinfo .location-dropdown-item:hover {
    background-color: rgba(30, 189, 207, 0.15);
    box-shadow: 0 0 5px rgba(30, 189, 207, 0.15);
    transition: 0.15s;
}

#job-seeker-myaccountinfo .location-dropdown-no-item {
    padding: 5px 10px;
    color: #b5b5b5;
}

#job-seeker-myaccountinfo .dropdown-menu {
    width: 100%;
}

#job-seeker-myaccountinfo .advancedsearch {
    float: right;
    margin-top: 10px;
}

#job-seeker-myaccountinfo .advancedsearch .advancedicon {
    float: left;
    width: 19px;
    height: 19px;
    margin-right: 5px;
    padding: 1.5px 0 0 4.5px;
    background-image: url(../image/searching-magnifying-glass@3x.png);
    background-size: cover;
    font-size: 8px;
    color: #ffffff;
}

#job-seeker-myaccountinfo .advancedsearch .advancedtext {
    float: left;
    font-size: 14px;
    color: #ffffff;
    margin-right: 10px;
}



#job-seeker-myaccountinfo .hri-tab {
    overflow: hidden;
}
  
#job-seeker-myaccountinfo .hri-tab button {
    border: none;
    width: 152px;
    height: 43px;
    font-size: 18px;
    text-align: center;
    line-height: 43px;
    color: #464545;
    margin-bottom: 3px;
    background-color: #d1d0d6;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

#job-seeker-myaccountinfo .hri-tab button:hover {
    outline: none;
    color: #ffffff;
}

#job-seeker-myaccountinfo .hri-tab button.active {
    color: #ffffff;
    background-color: #f7912a;
    transition: 0.2s;
    outline: none;
}
  

/* Tab Content */
#job-seeker-myaccountinfo .hri-tabcontent {
    display: none;
    padding: 30px 30px;
    transition: 0.2px;
    margin-top: -3px;
    margin-bottom: 50px;
}

#job-seeker-myaccountinfo .tab-title {
    font-size: 20px;
    font-weight: 800;
    color: #2b354d;
    margin-bottom: 16px;
}


/* Form */
#job-seeker-myaccountinfo .form {
    border-bottom: 1px dashed #d1d0d6;
    padding-bottom: 12px;
    margin-bottom: 40px;
}

#job-seeker-myaccountinfo .form:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}

#job-seeker-myaccountinfo .name-form {
    padding: 12px 10px 11px 10px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    background-color: rgba(30, 189, 207, 0.15);
    border-left: 4px solid #f7912a;
    overflow: auto;
    font-size: 16px;
}

#job-seeker-myaccountinfo .name-form .left {
    font-weight: 500;
    float: left;
}


#job-seeker-myaccountinfo .name-form .right {
    padding-right: 5px;
    font-weight: 500;
    float: right;
}

#job-seeker-myaccountinfo .starr{
    font-size: 13px;
    color: #f22424;
}


#job-seeker-myaccountinfo .form-body {
    padding: 6px 50px;
}

#job-seeker-myaccountinfo .item {
    padding: 13px 0;
    overflow: auto;
}


#job-seeker-myaccountinfo .small-item {
    overflow: auto;
}

#job-seeker-myaccountinfo .small-item span {
    font-size: 14px;
    color: #464545;
}

#job-seeker-myaccountinfo .item label {
    float: left;
    width: 27%;
    line-height: 41px;
    font-size: 16px;
    color: #464545;
    margin-bottom: 0;
}

#job-seeker-myaccountinfo .item input, .item select {
    float: left;
    width: 442px;
    height: 41px;
    padding: 0 10px;
    border-radius: 3px;
    border: solid 1px #b5b5b5;
    background-color: #ffffff;
    color: #464545;
    transition: 0.2s;
    font-size: 14px;
    line-height: 30px;
}

#job-seeker-myaccountinfo .item select {
    padding: 0 15px;
}

#job-seeker-myaccountinfo .item button {
    margin-left: 27%;
    width: 227px;
    height: 41px;
    border-radius: 3px;
    background-color: #24becf;
    line-height: 4px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
}


#job-seeker-myaccountinfo .item .radio {
    float: left;
    overflow: auto;
    width: 442px;
}



#job-seeker-myaccountinfo .item .smalltip {
    font-size: 12px;
    line-height: 12px;
    font-style: italic;
    margin: 45px 0 0 27%;
    color: #464545;
}


#job-seeker-myaccountinfo .item input:focus, .item select:focus, .item button:hover {
    border: solid 1px #2ec1d1;
    box-shadow: 0 0 6px #2ec1d1;
    transition: 0.2s;

}

#job-seeker-myaccountinfo input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url(../image/calendar-with-a-clock-time-tools@3x.png) no-repeat;
    background-size: 14px auto;
    margin-left: 5px;
    border-width: thin;
}

#job-seeker-myaccountinfo input[type="radio"] {
    display:none;
}

#job-seeker-myaccountinfo .radio-item {
    float: left;
    overflow: auto;
}

#job-seeker-myaccountinfo .radio1, .checkbox1 {
    float: left;
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    transition: 0.15s;
    cursor: pointer;
}

#job-seeker-myaccountinfo .radio1 {
    margin: 13px 10px 0 0;
    border: 2px solid #b5b5b5;
    border-radius: 50%;
}

#job-seeker-myaccountinfo .checkbox1 {
    border-radius: 2px;
    border: 1px solid #b5b5b5;
    margin: 4px 5px 0 0;
}


#job-seeker-myaccountinfo .radio1:hover, .checkbox1:hover {
    border: 5px solid #b5b5b5;
    transition: 0.15s;
}

#job-seeker-myaccountinfo .radioactive, .checkboxactive, .radioactive:hover, .checkboxactive:hover {
    border: 5px solid #2ec1d1;
    transition: 0.15s;
}

#job-seeker-myaccountinfo .radio input {
    float: left;
    width: 15px;
    margin: 0 8px 0 1px;
}

#job-seeker-myaccountinfo .radio span {
    line-height: 43px;
    float: left;
    margin-right: 45px;
}



@media screen and (max-width: 1199.98px) { 
    #job-seeker-myaccountinfo .item .smalltip {
        float: left;
        margin: 3px 0 0 0;
        color: #464545;
    }
}

@media screen and (max-width: 991.98px) { 
    #job-seeker-myaccountinfo .item label {
        width: 100%;
    }

    #job-seeker-myaccountinfo .item input, .item select {
        width: 100%;
    }
}

@media screen and (max-width: 767.98px) { 
    #job-seeker-myaccountinfo .item button , .item .radio{
        width: 100%;
        margin-left: 0;
    }

    #job-seeker-myaccountinfo .form-body {
        padding: 6px 6px;
    }

    #job-seeker-myaccountinfo .find {
        height: 156px;
    }

    #job-seeker-myaccountinfo .find .search {
        width: 100%;
        margin-bottom: 10px;
    }

    #job-seeker-myaccountinfo .find .search-location {
        margin-left: 0;
        width: 60%;
    }

    #job-seeker-myaccountinfo .find .search-button {
        width: 38%;
    }
}

@media screen and (max-width: 393.98px) { 
    #job-seeker-myaccountinfo .hri-tab button {
        width: 49%;
    }
}