body {
    font-family: roboto !important;

    #Login-Signup-Super-Popup {
        overflow: auto;
        font-size: 16px;
        padding-bottom: 60px;

        .hidden {
            display: none;
        }

        #close-icon {
            float: right;
            font-size: 25px;
            line-height: 25px;
            margin-top: -3px;
            color: #d1d0d6;
            cursor: pointer;
        }

        .login-tab {
            width: 100%;
            display: inline-block;

            .login-tablinks {
                max-width: 195px;
                width: 45%;
                border: none;
                height: 34px;
                font-size: 24px;
                display: inline-block;
                background-color: #fff;
                color: #d1d0d6;
                font-weight: 900;
                border-right: 1px solid #464545;
                cursor: pointer;
                transition: 0.3s;

                &:hover {
                    text-shadow: 3px 3px 5px #d1d0d6;
                    transition: 0.3s;
                }

                &:focus {
                    outline: none;
                }

                &:last-child {
                    border-right: none;
                }

                &.active {
                    color: #24becf;
                    transition: 0.3s;

                    &hover {
                        text-shadow: 3px 3px 5px #24becf;
                        transition: 0.3s;
                    }
                }
            }
        }

        .btn-loginwith {
            margin: 0 auto;
            max-width: 400px;
            padding: 35px 5px 0 5px;

            .btn-loginwithfacebook {
                width: 100%;
                height: 43.1px;
                border-radius: 4px;
                background-color: #475993;
                border: none;
                color: #fff;
                background-image: url(../image/facebook@3x.png);
                background-size: 21.7px;
                background-repeat: no-repeat;
                background-position: 38.3px 11px;
                margin-bottom: 8px;
                font-weight: 900;
                transition: 0.3s;

                &:focus {
                    outline: none;
                }

                &:hover {
                    box-shadow: 0 0 5px #475993;
                    transition: 0.3s;
                }

                @media screen and (max-width: 399.98px) {
                    background-position: 10px 11px;
                }
            }

            .btn-loginwithgoogle {
                @extend .btn-loginwithfacebook;
                background-color: #cc3333;
                background-image: url(../image/search-1@3x.png);

                &:hover {
                    box-shadow: 0 0 5px #cc3333;
                }
            }
        }

        .orline {
            max-width: 390px;
            margin: 30px auto 0 auto;
            text-align: center;
            border-top: solid 1px #d1d0d6;
            display: flex;

            span {
                width: 30px;
                margin: -12px auto 0 auto;
                background-color: #fff;
            }
        }

        .login-tabcontent {
            max-width: 400px;
            margin: 20px auto 0 auto;
            overflow: auto;

            .form-item {
                width: 100%;
                text-align: left;
                padding: 5px 5px 15px 5px;

                label {
                    font-weight: 900;

                    .starr {
                        font-size: 14px;
                        color: #f22424;
                    }
                }

                input {
                    width: 100%;
                    height: 43.1px;
                    border-radius: 4px;
                    border: solid 1px #b5b5b5;
                    background-color: #ffffff;
                    padding: 0 10px;
                    transition: 0.3s;

                    &::-webkit-input-placeholder {
                        font-style: italic;
                        font-size: 14px;
                    }

                    &:focus {
                        outline: none;
                        box-shadow: 0 0 5px #24becf;
                        transition: 0.3s;
                    }
                }

                .something-wrong {
                    color: #f22424;
                    font-size: 14px;
                }
            }

            .keep-login {
                float: left;
                overflow: auto;
                padding-left: 5px;

                .checkbox-icon {
                    float: left;
                    width: 15px;
                    height: 15px;
                    border-radius: 3px;
                    margin: 2px 5px 0 0;
                    border: solid 1px #b5b5b5;
                    cursor: pointer;
                    transition: 0.15s;

                    &:hover {
                        border: solid 5px #b5b5b5;
                        transition: 0.15s;
                    }

                    &.checkbox-icon-active {
                        border: solid 5px #24becf;
                        transition: 0.15s;

                        &:hover {
                            border: solid 5px #24becf;
                            transition: 0.15s;
                        }
                    }
                }
            }

            .forgot-password {
                float: right;
                color: #2a75f7;
                margin-right: 5px;
            }

            .login-submit {
                padding: 5px;
                max-width: 400px;

                button {
                    width: 100%;
                    margin-top: 25px;
                    max-width: 390px;
                    height: 50.1px;
                    border-radius: 4px;
                    background-color: #24becf;
                    font-weight: 900;
                    border: none;
                    color: #fff;

                    &:focus {
                        outline: none;
                    }

                    &:hover {
                        box-shadow: 0 0 5px #24becf;
                    }
                }
            }
        }
    }
}