#Super-Near-Footer {
    margin-top: 100px;
    background-color: #fff;
    padding: 50px 0;
    color: #040404;
    font-size: 16px;
    font-family: Roboto;

    .container {

        overflow: auto;

        .big-item {
            float: left;
            width: 33.3333%;
            padding: 0 5%;

            .big-item-title {
                font-size: 18px;
                margin-bottom: 25px;
                font-weight: 900;

            }

            a {
                text-decoration-color: #040404;
            }

            .item {
                color: #040404;
                margin-bottom: 10px;

                &:hover {
                    text-decoration: none;
                }

            }

            .viewall {
                color: #59b1fe;
                text-decoration-color: #040404;
            }
        }
    }

    @media screen and (max-width: 575.98px) {
        .container {
            .big-item {
                width: 100%;
                margin-bottom: 40px;

                .item {
                    margin-left: 40px;
                    display: list-item;
                }

                .viewall {
                    margin-left: 30px;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

#Super-Footer {
    background-color: #24becf;
    color: #fff;
    font-family: Roboto;
    font-size: 16px;
    padding: 50px 0 0 0;

    .bolder-text {
        font-weight: 900;
    }


    .container {

        .contact {
            .super-big-title {
                font-size: 40px;
                font-weight: 900;

            }

            .list-item {
                margin-top: 30px;

                .item {
                    margin-bottom: 40px;

                    .item-image {
                        float: left;
                        margin: 1px 15px 0 0;
                        width: 18px;
                        height: 18px;
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center center;
                    }
                }
            }
        }

        .menuu {
            padding: 25px 1% 0 1%;

            a {
                text-decoration-color: #fff;
            }

            .menu-item {
                margin-bottom: 40px;
                color: #fff;
            }
        }

        .primacy {
            @extend .menuu;
        }

        .connectt {
            padding: 25px 1% 0 1%;

            .connect-item {

                .connect-title {
                    margin-left: 4px;
                }

                .connect-with {
                    width: 266px;
                    height: 63px;
                    margin: 7px 0 14px 0;
                }

                .dangkybct {
                    width: 180px;
                    height: 69px;
                    margin-top: 7px;
                }


            }


        }

        .solid-bottom {
            height: 1px;
            background-color: #fff;
            margin: 5px 0 35px 0;
        }

        .mobile-icon {
            width: 100%;
            padding: 14px 0 30px 0;

            .ios-app {
                width: 162.8px;
                height: 51.6px;
                margin: 0 10px;
            }

            .android-app {
                @extend .ios-app;
            }
        }



        @media screen and (min-width: 1499.98px) {
            width: 1480px;
        }

        @media screen and (max-width: 991.98px) {
            text-align: center;

            .contact {
                text-align: center;

                .list-item {
                    .item {
                        margin-bottom: 35px;

                        .item-image {
                            float: none;
                            display: inline-block;
                            margin: 0 5px -3px 0;
                        }
                    }
                }
            }

            .menuu {
                padding-top: 15px;
            }

            .connectt {
                padding-top: 15px;
            }

        }

        @media screen and (max-width: 767.98px) {
            text-align: center;

            .contact {}

            .menuu {
                .menu-item {
                    display: inline-block;
                    text-decoration: underline;
                    width: auto;
                    padding: 0 30px;
                    margin-bottom: 20px;
                }
            }

            .connectt {
                .connect-item {
                    .dangkybct {
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }

    .copyright {
        width: 100%;
        padding: 14px 0;
        background-color: #232323;

        @media screen and (max-width: 767.98px) {
            font-size: 14px;
        }
    }
}