#Job-Detail-Page {
    background-color: #f2f2f2;
    font-family: Roboto;
}

#Job-Detail-Page button:focus {
    outline: none !important;
}


#Job-Detail-Page .set-box-shadow {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.11);
    border-radius: 4px;
    background-color: white;
}


/* Menu */
#Job-Detail-Page .navi-menu {
    margin: 5px 5px 0 0 ; 
    overflow: auto;
}

#Job-Detail-Page .navi-menu-link {
    font-size: 14px;
    color: #707070 !important;
    float: left;
    margin-right: 5px;
}

#Job-Detail-Page .navi-menu-next {
    float: left;
    margin: 3px 5px 0 0;
    line-height: 14px;
}

#Job-Detail-Page .navi-menu-next img {
    width: 5.3px;
    height: 9.6px;
}

#Job-Detail-Page .navi-menu-text {
    font-size: 14px;
    color: #2d2d2d;
    float: left;
    margin-right: 5px;
}

/* Ads1 */
#Job-Detail-Page .ads1 {
    width: 100%;
    overflow: auto;
    margin-top: 12px;
}

#Job-Detail-Page .ads1 img {
    width: 100%;
    height: auto;
}



/* Job Name */
#Job-Detail-Page .job-name {
    margin-top: 22px;
    padding: 16px 20px 23px 38px;
    overflow: auto;
}

#Job-Detail-Page .job-name-image {
    height: 135px;
    width: auto;
    float: left;
}

#Job-Detail-Page .job-name-title {
    margin-left: 50px;
    float: left;
}

#Job-Detail-Page .job-name-title-bigtitle {
    font-size: 32px;
    line-height: 30px;
    font-weight: 900;
    color: #464545;
}

#Job-Detail-Page .job-name-title-company {
    margin-top: 5px;
    font-size: 20px;
    color: #464545;
}

#Job-Detail-Page .job-name-title-views {
    margin-top: 12px;
    overflow: auto;
}

#Job-Detail-Page .job-name-title-views-eyes {
    float: left;
    width: 16.5px;
    height: 9.9px;
    margin-top: 4px;
}

#Job-Detail-Page .job-name-title-views-text {
    font-size: 16px;
    color: #707070;
    float: left;
    line-height: 1.19;
    margin-left: 8px;
}

#Job-Detail-Page .job-name-title-link {
    overflow: auto;
    margin-top: 15px;
}

#Job-Detail-Page .job-name-title-link-icon {
    border-radius: 8px;
    color: white;
    font-size: 12px;
    width: 26px;
    height: 26px;
    float: left;
    text-align: center;
    padding-top: 6px;
    margin-right: 4px;
}

#Job-Detail-Page .job-name-title-apply {
    float: right;
    overflow: auto;
    padding: 25px 7px 0 7px;
}

#Job-Detail-Page .job-name-title-apply-button {
    width: 188.2px;
    height: 53.5px;
    border-radius: 3px;
    background-color: #f7912a;
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
    transition: 0.2s;
    border: none;
}

#Job-Detail-Page .job-name-title-apply-button:hover {
    box-shadow: 0 0 6px #f7912a;
    transition: 0.2s;
}

#Job-Detail-Page .job-name-title-apply-save {
    text-align: center;
    margin-top: 16px;
    overflow: auto;
}

#Job-Detail-Page .job-name-title-apply-save img{
    width: 26px;
    height: 24px;
}

#Job-Detail-Page .job-name-title-apply-save-text {
    display: inline;
    margin-left: 10px;
    font-size: 16px;
    color: #707070;
}


/* Job tab */
#Job-Detail-Page .job-tab {
    overflow: hidden;
    margin-top: 20px;
}
  
#Job-Detail-Page .job-tablinks {
    border: none;
    width: auto;
    font-size: 18px;
    text-align: center;
    padding: 10px 40px;
    color: #464545;
    background-color: #f2f2f2;
    border-bottom: white solid 5px;
    transition: 0.2s;
}

#Job-Detail-Page .job-tablinks:hover {
    outline: none;
    color: #02b2c5;
}

#Job-Detail-Page .job-tab .active {
    color: #02b2c5;
    border-bottom-color: #02b2c5;
    transition: 0.2s;
    outline: none;
}

#Job-Detail-Page .job-tabcontent {
    overflow: auto;
    margin-top: -5px;
    padding: 23px 13px;
}



/* Table */
#Job-Detail-Page .job-tabcontent-table {
    float: left;
    width: 49%;
    margin: 0 0.5%;
    height: auto;
}

#Job-Detail-Page .job-tabcontent-table tbody {
    border-radius: 2px;
}

#Job-Detail-Page .job-tabcontent-table tr {
    height: 44px;
    background-color: rgba(30, 189, 207, 0.15);
}

#Job-Detail-Page .job-tabcontent-table tr:nth-child(even) {
    background-color: rgba(30, 189, 207, 0.096);
}

#Job-Detail-Page .job-tabcontent-table td, .job-tabcontent-table th {
    padding-left: 25px;
}

#Job-Detail-Page .job-tabcontent-table td {
    padding-right: 25px;
}

#Job-Detail-Page .job-tabcontent-table td a {
    color: #3fa5fe;
}

#Job-Detail-Page .job-tabcontent-table1 th {
    width: 28%;
}

#Job-Detail-Page .job-tabcontent-table2 th {
    width: 40%;
}

#Job-Detail-Page .job-tabcontent-table3 th {
    width: 27%;
}

#Job-Detail-Page .job-tabcontent-table4 th {
    width: 39%;
}




/* Badge */
#Job-Detail-Page .job-tabcontent-badge {
    padding: 21px 35px 0 35px;
    float: left;
    width: 100%;
    overflow: auto;
}

#Job-Detail-Page .job-tabcontent-badge-item {
    float: left;
    width: 54px;
    height: 23px;
    border-radius: 2px;
    border: solid 1px #1ebdcf;
    background-color: #1ebdcf;
    margin-right: 10px;
    text-align: center;
    font-size: 12px;
    line-height: 23px;
    color: #ffffff;
}


/* Description */
#Job-Detail-Page .job-tabcontent-description {
    padding: 18px 35px 0 35px;
    width: 100%;
    float: left;
}

#Job-Detail-Page .job-tabcontent-description .orange-title {
    font-size: 24px;
    font-weight: 500;
    color: #f7912a;
}

#Job-Detail-Page .job-tabcontent-description .description {
    margin: 10px 0 18px 0;
    font-size: 14px;
    color: #464545;   
}


/* Benefit */

#Job-Detail-Page .job-tabcontent-benefit {
    padding-top: 15px;
    width: 100%;
    float: left;
    overflow: auto;
}

#Job-Detail-Page .benefit-item {
    float: left;
    padding-left: 38px;
    width: 33%;
    height: 45px;
    overflow: auto;
}

#Job-Detail-Page .benefit-item img {
    height: 21px;
    width: auto;
    margin-right: 16px;
    float: left;
}

#Job-Detail-Page .benefit-item .benefit-name {
    font-size: 14px;
    margin-top: 3px;
    color: #464545;
    float: left;
}

#Job-Detail-Page .job-tabcontent-description .img-slide {
    height: 150px;
    width: auto;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    margin: 25px 3px;
}

#Job-Detail-Page .job-tabcontent-description .img-slide:hover {
    transform: scale(1.2,1.2);
    transition: 0.5s;
}




/* Other Job */

#Job-Detail-Page .otherjob-list {
    padding: 0 30px;
    width: 100%;
    overflow: auto;
}

#Job-Detail-Page .otherjob-item {
    padding: 20px 3px;
    float: left;
    width: 100%;
    overflow: auto;
    border-bottom: solid 1px rgba(98, 98, 98, 0.28);
}

#Job-Detail-Page .otherjob-item:first-child {
    padding-top: 8px;
    float: left;
    width: 100%;
    overflow: auto;
    border-bottom: solid 1px rgba(98, 98, 98, 0.28);
}

#Job-Detail-Page .otherjob-item:last-child {
    border-bottom: none;
}

#Job-Detail-Page .otherjob-item-title {
    width: 55%;
    margin: 8px 10% 0 0;
    float: left;
}

#Job-Detail-Page .otherjob-item-title-bigtitle {
    font-size: 18px;
    font-weight: 900;
    color: #464545;
}

#Job-Detail-Page .otherjob-item-title-description {
    margin-top: 15px;
    font-size: 14px;
    color: #464545;
}

#Job-Detail-Page .otherjob-item-contact {
    width: 20%;
    margin-right: 5%;
    float: left;
}

#Job-Detail-Page .otherjob-item-contact-item {
    width: 100%;
    overflow: auto;
    margin-bottom: 14px;
}

#Job-Detail-Page .otherjob-item-contact-item:last-child {
    margin-bottom: 0;
}

#Job-Detail-Page .otherjob-item-contact-image {
    width: 20px;
    float: left;
    text-align: center;
}

#Job-Detail-Page .otherjob-item-contact-image img {
    margin-top: -3px;
    height: 12px;
}

#Job-Detail-Page .otherjob-item-contact-text {
    float: left;
    margin-left: 5px;
}


/* Other Job - Save */
#Job-Detail-Page .otherjob-item-save {
    text-align: center;
    width: 10%;
    float: left;
    overflow: auto;
    margin-top: 25px;
}

#Job-Detail-Page .otherjob-item-save img {
    width: 21px;
    height: 19px;
}

#Job-Detail-Page .otherjob-item-save-text {
    margin-top: 4px;
}



/* Pagging */
#Job-Detail-Page .pagging {
    margin: 20px 0;
    text-align: center;
}

#Job-Detail-Page .pagging .center {
    display: inline-block;
    overflow: auto;
    height: 40px;;
}

#Job-Detail-Page .pagging .previousnext {
    float: left;
    border-radius: 50%;
    background-color: #e8e8e8;
    width: 30px;
    height: 30px;
    padding-top: 2px;
    text-align: center;
}

#Job-Detail-Page .pagging .previousnext {
    float: left;
    border-radius: 50%;
    background-color: #e8e8e8;
    width: 30px;
    height: 30px;
    padding-top: 5px;
    text-align: center;
}

#Job-Detail-Page .pagging .previousnext:hover {
    background-color: #1ebdcf;
    transition: 0.2s;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

#Job-Detail-Page .pagging .previousnext img{
    width: auto;
    height: 10px;
}

#Job-Detail-Page .pagger {
    float: left;
    overflow: auto;
    border-radius: 15px;
    background-color: #e8e8e8;
    margin: 0 10px;
}

#Job-Detail-Page .pagger .pagger-item, .pagger .dot {
    float: left;
    width: 30px;
    height: 30px;
    padding-top: 7px;
    text-align: center;
    font-size: 12px;
    color: #707070;
    position: relative;
    border-radius: 50%;
    transition: 0.15s;
}

#Job-Detail-Page .pagger .this-pagger {
    font-weight: bold;
    color: #2d2d2d;
}


#Job-Detail-Page .pagger .pagger-item:first-child {
    margin-left: 8px;
}

#Job-Detail-Page .pagger .pagger-item:last-child {
    margin-right: 8px;
}

#Job-Detail-Page .pagger .pagger-item:hover {
    border-radius: 6px;
    background-color: #1ebdcf;
    color: #ffffff;
    transition: 0.15s;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}




/* ads2 */
#Job-Detail-Page .ads2 {
    margin-top: 65px;
}

#Job-Detail-Page .ads2 img {
    width: 100%;
    border-radius: 4px;
}


/* Top Employers */
#Job-Detail-Page .top-employers {
    margin-top: 12px;
}

#Job-Detail-Page .top-employers-title {
    padding: 10px 0;
    color: #707070;
    font-size: 18px;
    text-align: center;
    border-bottom: 1px solid #f2f2f2;
}

#Job-Detail-Page .list-top-employers {
    padding: 0 20px;
}

#Job-Detail-Page .list-top-employers a {
    padding: 20px 0;
    text-align: center;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto;
    height: 110px;
}





@media screen and (max-width: 1199.98px){
    #Job-Detail-Page .otherjob-item-title {
        width: 50%;
        margin: 0 5% 0 0;
    }

    #Job-Detail-Page .otherjob-item-contact {
        width: 30%;
        margin-top: 5px;
    }
}

@media screen and (max-width: 767.98px){
    #Job-Detail-Page .job-name-title-apply {
        float: none;
        width: 70%;
        padding: 25px 7px 0 50px;
    }

    #Job-Detail-Page .job-name-title-apply-button {
        float: left;
        width: 50%;
    }

    #Job-Detail-Page .job-name-title-apply-save {
        float: left;
        margin-left: 5%;
        width: 45%;
    }

    #Job-Detail-Page .job-name-title {
        margin-left: 10%;
        width: 60%;
        float: left;
    }

    #Job-Detail-Page .job-name-image {
        width: 30%;
        height: auto;
    }

    #Job-Detail-Page .otherjob-list {
        padding: 0 15px;
    }

    #Job-Detail-Page .benefit-item {
        width: 50%;
    }
}

@media screen and (max-width: 575.98px){
    #Job-Detail-Page .job-name {    
        padding: 16px 3% 23px 3%;
    }

    #Job-Detail-Page .job-name-title {
        margin-left: 5%;
        width: 55%;
        float: left;
    }

    #Job-Detail-Page .job-name-image {
        width: 30%;
    }

    #Job-Detail-Page .job-name-title-link-icon {
        margin-bottom: 4px;
    }

    #Job-Detail-Page .job-name-title-apply {
        float: none;
        width: 100%;
        overflow: auto;
        padding: 25px 7px 0 0px;
    }

    #Job-Detail-Page .otherjob-item-title {
        width: 100%;
        margin: 0;
    }

    #Job-Detail-Page .otherjob-item-contact {
        width: 60%;
        margin: 20px 5% 0 5%;
    }

    #Job-Detail-Page .otherjob-item-save {
        width: 30%;
        margin-top: 40px;
    }

    #Job-Detail-Page .job-tabcontent-table {
        width: 99%;
        margin-bottom: 10px;
    }

    #Job-Detail-Page .job-tabcontent-table1 th, .job-tabcontent-table2 th, .job-tabcontent-table3 th, .job-tabcontent-table4 th {
        width: 40%;
    }

    #Job-Detail-Page .job-tabcontent-badge {
        padding: 21px 15px 0 15px;
    }

    #Job-Detail-Page .job-tabcontent-description {
        padding: 18px 15px 0 15px;
    }
    
}




@media screen and (max-width: 479.98px){
    #Job-Detail-Page .job-name-image {
        width: 40%;
        height: auto;
    }

    #Job-Detail-Page .pagger .pagger-item, .pagger .dot {
        width: 23px;
    }


    #Job-Detail-Page .pagging .previousnext {
        display: none;
    }

    #Job-Detail-Page .job-tab {
        text-align: center;
    }

    #Job-Detail-Page .job-tabcontent-badge-item {
        margin-bottom: 4px;
    }

    #Job-Detail-Page .otherjob-item-contact {
        width: 75%;
        margin: 20px 5% 0 0;
    }

    #Job-Detail-Page .otherjob-item-save {
        width: 20%;
        margin-top: 40px;
    }

    #Job-Detail-Page .job-name-title-apply-button {
        width: 100%;
    }

    #Job-Detail-Page .job-name-title-apply-save {
        margin-left: 0px;
        width: 100%;
    }

    #Job-Detail-Page .benefit-item {
        width: 100%;
    }
}


