#Super-Login-Page {
    font-size: 16px;
    font-family: Roboto;
    margin-top: 120px;

    %default-input-form {
        height: 43px;
        outline: none;
        transition: all 0.3s;
        border: none;
        width: 100%;
        border-radius: 4px;

        &::-webkit-input-placeholder {
            font-size: 14px;
            font-style: italic;
            color: #b5b5b5;
        }
    }

    %default-background-image {
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    .itnavi-checkbox-icon {
        float: left;
        width: 15px;
        height: 15px;
        border-radius: 3px;
        margin: 2px 5px 0 0;
        border: solid 1px #b5b5b5;
        cursor: pointer;
        transition: 0.15s;

        &:hover {
            border: solid 5px #b5b5b5;
            transition: 0.15s;
        }

        &.active {
            border: solid 5px #24becf;
            transition: 0.15s;

            &:hover {
                border: solid 5px #24becf;
                transition: 0.15s;
            }
        }
    }

    .super-starr {
        color: #f22424;
        font-size: 14px;
    }

    .container {
        height: 773px;
        overflow: auto;

        @media screen and (max-width: 991.98px) {
            height: auto;
        }

        .element-left {
            float: right;
            height: 100%;
            width: 50%;
            text-align: center;
            background-size: cover;
            background-position: center;
            background-image: url(../image/group-1004@3x.png);

            .left-body {
                padding: 150px 25px 0 25px;
                display: inline-block;
                width: 100%;
                max-width: 550px;
                text-align: left;
                color: #fff;

                .body-title {
                    .title-big-title {
                        font-size: 40px;
                        font-weight: 900;
                    }

                    .title-description {
                        font-size: 20px;
                    }

                    .title-line {
                        width: 125px;
                        height: 2px;
                        margin: 45px 0 30px 0;
                        background-color: #ffffff;

                    }
                }

                .body-list-item {
                    .item {
                        overflow: auto;
                        margin-bottom: 45px;

                        .item-image {
                            @extend %default-background-image;

                            float: left;
                            width: 40px;
                            height: 40px;
                            margin: 6px 15px 4px 0;
                        }

                        .item-title {
                            font-size: 20px;
                        }
                    }
                }
            }

            &.for-employer {
                background-image: url(../image/group-1005@3x.png);

                .left-body {
                    max-width: 465px;

                    .body-list-item {
                        padding-top: 15px;

                        .item {
                            margin-bottom: 35px;

                            .item-image {
                                width: 35px;
                                height: 35px;
                                margin-top: 0;

                            }

                            .item-description {
                                font-size: 18px;
                            }
                        }
                    }
                }

                .body-list-item {
                    padding-top: 15px;

                    .item {
                        margin-bottom: 35px;

                        .item-image {
                            width: 35px;
                            height: 35px;
                            margin-top: 0;

                        }

                        .item-description {
                            font-size: 18px;
                        }
                    }
                }
            }

            @media screen and (max-width: 399.98px) {
                width: 100%;

                .left-body {
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }



            @media screen and (max-width: 991.98px) {
                width: 100%;
                margin-top: 20px;

                .left-body {
                    padding-top: 40px;
                }
            }
        }

        .element-right {
            float: right;
            width: 50%;
            height: 100%;
            overflow: auto;
            background-color: #fff;
            padding-bottom: 25px;

            .right-login {

                .login-logo {
                    padding: 60px 0 30px 0;
                    width: 100%;
                    text-align: center;

                    img {
                        width: 228px;
                        height: 94px;
                    }
                }

                .login-form {
                    text-align: center;

                    .form-item {
                        max-width: 410px;
                        width: 100%;
                        padding: 5px 10px;
                        display: inline-block;
                        text-align: left;

                        .fbbutton {
                            @extend %default-input-form;
                            background-color: #475993;
                            color: #fff;

                            background-image: url(../image/facebook@3x.png);
                            background-repeat: no-repeat;
                            background-size: 21.9px;
                            background-position: 35px 11px;

                            &:hover {
                                box-shadow: 0 0 5px #475993;
                            }
                        }

                        .ggbutton {
                            @extend .fbbutton;

                            background-image: url(../image/search-1@3x.png);
                            background-color: #cc3333;

                            &:hover {
                                box-shadow: 0 0 5px #cc3333;
                            }
                        }

                        .normal-input {
                            @extend %default-input-form;
                            border: solid 1px #b5b5b5;
                            background-color: #ffffff;
                            margin-bottom: 5px;
                            padding: 0 10px;

                            &:hover {
                                border: solid 1px #b5b5b5;
                                box-shadow: 0 0 5px #b5b5b5;
                            }

                            &:focus {
                                border: solid 1px #24becf;
                                box-shadow: 0 0 5px #24becf;
                            }

                        }

                        .normal-red-tip {
                            font-size: 12px;
                            color: #f22424;
                        }

                        &.form-item-or {
                            max-width: 390px;
                            margin: 30px auto 0 auto;
                            text-align: center;
                            border-top: solid 1px #d1d0d6;
                            display: flex;

                            .or-text {
                                width: 30px;
                                color: #464545;
                                font-size: 14px;
                                margin: -16px auto 0 auto;
                                background-color: #fff;
                            }
                        }

                        &.form-item-keepforgot {
                            overflow: auto;
                            padding-bottom: 0;
                            padding-top: 0;
                            font-size: 14px;

                            .keep-login {
                                float: left;
                                overflow: auto;
                            }

                            .forgot-password {
                                float: right;

                                .forgot-link {
                                    color: #2a75f7;
                                    text-decoration-color: #2a75f7;
                                }
                            }
                        }

                        &.form-item-submit {
                            margin: 25px 0 15px 0;

                            .submitbutton {
                                @extend %default-input-form;
                                height: 50px;
                                color: #fff;
                                font-weight: 900;
                                background-color: #24becf;

                                &:hover {
                                    box-shadow: 0 0 5px #24becf;
                                }
                            }
                        }

                        &.form-item-haveanother {
                            height: 2px;
                            font-size: 14px;

                            .haveanother-line {
                                height: 1px;
                                border-bottom: 1px solid #d1d0d6;
                            }

                            .haveanother-text {
                                margin-top: 15px;
                                text-align: center;

                                .haveanother-link {
                                    color: #f7912a;
                                    text-decoration-color: #f7912a;
                                }
                            }
                        }
                    }
                }
            }

            .right-signup {
                .signup-title {
                    text-align: center;
                    font-size: 34px;
                    font-weight: 900;
                    padding: 25px 0 15px 0;
                }

                .signup-form {
                    text-align: center;

                    .form-item {
                        max-width: 460px;
                        width: 100%;
                        padding: 5px 10px;
                        display: inline-block;
                        text-align: left;

                        .fbbutton {
                            @extend %default-input-form;
                            background-color: #475993;
                            color: #fff;

                            background-image: url(../image/facebook@3x.png);
                            background-repeat: no-repeat;
                            background-size: 21.9px;
                            background-position: 35px 11px;

                            &:hover {
                                box-shadow: 0 0 5px #475993;
                            }
                        }

                        .ggbutton {
                            @extend .fbbutton;

                            background-image: url(../image/search-1@3x.png);
                            background-color: #cc3333;

                            &:hover {
                                box-shadow: 0 0 5px #cc3333;
                            }
                        }

                        &.form-input-normal {
                            overflow: auto;

                            .normal-label {
                                padding-top: 10px;
                                float: left;
                                width: 35%;
                            }

                            .normal-input {
                                @extend %default-input-form;
                                border: solid 1px #b5b5b5;
                                background-color: #ffffff;
                                margin-bottom: 5px;
                                padding: 0 10px;
                                float: left;
                                width: 65%;

                                &:hover {
                                    border: solid 1px #b5b5b5;
                                    box-shadow: 0 0 5px #b5b5b5;
                                }

                                &:focus {
                                    border: solid 1px #24becf;
                                    box-shadow: 0 0 5px #24becf;
                                }
                            }

                            .normal-red-tip {
                                margin-left: 35%;
                                font-size: 12px;
                                color: #f22424;
                            }

                            .normal-small-tip {
                                margin-left: 35%;
                                font-size: 12px;
                                font-style: italic;
                            }
                        }

                        &.form-item-or {
                            max-width: 440px;
                            margin: 30px auto 15px auto;
                            text-align: center;
                            border-top: solid 1px #d1d0d6;
                            display: flex;

                            .or-text {
                                width: 30px;
                                color: #464545;
                                font-size: 14px;
                                margin: -16px auto 0 auto;
                                background-color: #fff;
                            }
                        }

                        &.form-item-privacy {
                            font-size: 12px;

                            .privacy-link {
                                color: #2a75f7;
                                text-decoration-color: #2a75f7;
                            }
                        }

                        &.form-item-submit {
                            margin: 10px 0 15px 0;

                            .submitbutton {
                                @extend %default-input-form;
                                height: 50px;
                                color: #fff;
                                font-weight: 900;
                                background-color: #24becf;

                                &:hover {
                                    box-shadow: 0 0 5px #24becf;
                                }
                            }
                        }

                        &.form-item-haveanother {
                            height: 2px;
                            font-size: 14px;

                            .haveanother-line {
                                height: 1px;
                                border-bottom: 1px solid #d1d0d6;
                            }

                            .haveanother-text {
                                margin-top: 15px;
                                text-align: center;

                                .haveanother-link {
                                    color: #f7912a;
                                    text-decoration-color: #f7912a;
                                }
                            }
                        }
                    }
                }

            }

            &.for-employer {
                .right-login {
                    .login-form {
                        .form-item {
                            margin-top: 20px;

                            &.form-item-keepforgot {
                                margin-top: 0;
                            }

                            &.form-item-submit {
                                margin-top: 50px;
                            }

                            &.form-item-haveanother {
                                margin-top: 10px;
                            }
                        }
                    }
                }

                .right-signup {
                    .signup-form {
                        .form-item {
                            &.form-input-normal {
                                .normal-input {
                                    margin-bottom: 2px;
                                }
                            }
                        }
                    }
                }
            }

            @media screen and (max-width: 991.98px) {
                width: 100%;
                padding-bottom: 50px;
                box-shadow: 0 5px 10px #b5b5b5;
            }

            @media screen and (max-width: 499.98px) {
                .right-signup {
                    .signup-form {
                        .form-item {
                            &.form-input-normal {
                                .normal-label {
                                    width: 100%;
                                    margin-top: 0;
                                }

                                .normal-input {
                                    width: 100%;
                                }

                                .normal-small-tip,
                                .normal-red-tip {
                                    margin-left: 0;
                                }
                            }
                        }
                    }
                }
            }

            @media screen and (max-width: 399.98px) {
                .right-login {
                    .login-logo {
                        padding: 30px 0 20px 0;

                    }
                }
            }
        }
    }
}